ul.breadcrumb {
  width: 100%;
  position: relative;
  top: 100px;
  right: 0;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;

  &::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #f6f6f6;
  }

  &::-webkit-scrollbar {
    width: 1px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c1c8d5;
  }

  li {
    display: inline-block;
    font-size: 16px;
    color: $main2;

    &+li:before {
      padding: 5px;
      color: #707070;
      content: "/\00a0";
    }

    a {
      color: $main3;
      transition: all 0.3s;

      &:hover {
        color: #5a6d90;
      }
    }
  }
}

