@media screen and (max-width: 2560px) {
    #topHeader {
        max-width: 100%;
        padding: 15px 20.3%;
    }

}

@media screen and (max-width: 1920px) {
    #topHeader {
        padding: 15px 191px;
    }
}

@media screen and (max-width: 1440px) {

    #go-to-top:link, #go-to-top:visited {
        width: 55px;
        height: 55px;
    }
    #imageSlider {
        display: flex;
    }

    #categories-weblog .boxWeblog {
        grid-template-columns: repeat(2, 1fr);
    }

    #section-blog h2 {
        margin: 150px 0 30px;
    }

    .payment_procedures .col-md-4 {
        width: 33.3%;
    }

    .payment_procedures .col-md-4:nth-child(7) {
        width: 100%;
    }

    .payment_procedures .input_box label {
        font-size: 13px;
    }

    .payment_procedures .col-md-8 {
        width: 66.6%;
    }

    .payment_procedures #filter-box>.box .input_box input::placeholder,
    .payment_procedures #filter-box>.box .input_box select::placeholder,
    .payment_procedures #filter-box>.box .input_box textarea::placeholder {
        font-size: 13px;
    }

    .payment_procedures .cart-bill .box li.payment_methods label {
        padding: 5px 38px;
    }

    #page-error .container {
        min-height: 790px;
    }

    .post .content {
        width: 960px;
        text-align: justify;
    }

    .post .col-md-4 {
        width: 40%;
    }

    .post .content img {
        margin: 55px 0;
    }

    ul.breadcrumb {
        right: 150px;
    }

    .container {
        width: 80%;
    }

    h4.sub-title {
        font-size: 17px;
        margin: 40px 0;
    }

    .itemCall>.sar-titre {
        margin-bottom: 10px;
    }

    #topHeader {
        min-width: 1430px;
        padding: 15px 140px;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        height: 555px;
    }

    .boxImageIcone {
        padding: 13px;
        margin: 0 5px;
    }

    #boxImageIcones {
        right: -5px;
        top: 585px;
    }

    .weblog img {
        margin-top: 0;
        width: 361px;
    }

    #columns-box>p {
        font-size: 17px;
    }

    #boxImageIcones .boxImageIcone {
        margin: 0 5px;
    }

    .icon-Arrow-Down-2 {
        padding: 10px;
        top: 110px;
        right: 455px;
    }

    .content {
        width: 570px;
        position: relative;
        top: 35px;
        margin-right: 75px;
    }

    .content>#textHome {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
    }

    .content>#titrHome {
        font-size: 25px;
    }

    #image1 {
        width: 290px;
        left: 445px;
    }

    #section-pageOne .box-slider {
        right: -143px;
        width: 930px;
    }

    .boxTwo {
        bottom: 330px;
        left: -4px;
        font-size: 17px;
    }

    #section-pageOne .box-slider>.slider {
        left: -310px;
    }


    #section-pageThree .box-slider {
        padding-right: 422px;
        left: -28px;
    }

    .image2 {
        bottom: 250px;
        right: 415px;
    }

    .boxContent {
        margin-top: 90px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 500px;
        margin: 0;
        top: -50px;
    }

    #section-pageTwo #about {
        left: 100px;
    }

    #section-pageTwo .image2 {
        right: 330px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        left: -450px;
    }

    .iconHeart {
        left: 610px;
    }

    #section-pageTwo .image3 {
        left: -90px;
    }

    .iconHeart#heart2 {
        left: 60px;
    }

    .image4 {
        left: -110px;
    }

    #section-pageTwo #contactUs {
        left: 560px;
    }


    #section-home>.container>.boxContent>#imageSlider {
        max-width: 507px;
    }

    #boxCategories {
        // column-gap: 0;
        // flex-wrap: wrap;
    }

    #allCategories {
        justify-content: center;
    }

    .imgAboutUs {
        background-size: 575px;
        min-height: 575px;
    }

    .textAboutUs>p {
        font-size: 19px;
        height: 410px;
    }

    .textAboutUs {
        padding: 82px 55px;
    }

    .imgError {
        background-size: 1420px;
        left: 225px;
    }

    .imgError>p {
        bottom: 350px;
    }

    #page-weblogs #Weblog .blog img {
        max-width: 777px;
        max-height: 750px;
    }

    .blog h1 {
        font-size: 25px;
    }

    #boxWeblog {
        // column-gap: 0;
        // flex-wrap: wrap;
        justify-content: space-around;
        width: 101%;
    }

    .weblog {
        // flex-basis: 30%;
        margin: 15px 0 15px 10px;
    }

    .weblog>.textWeblog>p {
        font-size: 15px;
        height: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        margin-bottom: 20px;
    }

    .column>a img {
        width: 125px;
        margin: 10px 0;
    }

    #topHeader .top-menu2 {
        min-width: 1435px;
        padding: 15px 140px;
    }
}

@media screen and (max-width: 1024px) {
    #go-to-top:link, #go-to-top:visited {
        width: 45px;
        height: 45px;

        .icon-up {
            font-size: 21px;
            color: #fff;
        }
    }

    #categories-weblog .boxWeblog {
        margin-right: 10px;
        grid-gap: 0px;
    }

    #categories-weblog .weblog {
        width: 310px;
    }

    #categories-weblog .weblog img {
        width: 300px;
    }

    #section-blog h2 {
        font-size: 35px;
    }

    #section-blog .container {
        width: 90%;
    }

    .payment_procedures .container {
        width: 90%;
    }

    .payment_procedures .col-md-4:nth-child(10) {
        width: 66.3%;
    }

    .payment_procedures .payment_methods {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
    }

    .payment_procedures .cart-bill .box li.payment_methods label {
        padding: 5px 70px;
        margin-bottom: 10px;
    }

    #page-error .item {
        margin-bottom: -70px;
    }

    .post .content {
        width: 777px;
    }

    ul.breadcrumb {
        right: 102px;
    }

    .weblog>.textWeblog>p {
        font-size: 15px;
    }

    #section-pageThree #iconSlider {
        top: 405px;
        right: -13px;
    }

    .post .content img {
        margin-bottom: 20px;
        height: 260px;
    }

    .comments .main_card .comment_item .main_desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
    }

    .comments .col-xl-3 {
        width: 35%;
    }

    .comments .col-xl-7 {
        width: 65%;
    }

    .imgError>p {
        bottom: 323px;
        padding: 15px 10px;
    }

    #topHeader {
        min-width: 900px;
        padding: 14px 98px;
    }

    #section-pageOne .box-slider>.slider {
        left: -620px;
    }

    #section-home>.container>.boxContent>#imageSlider {
        max-width: 390px;
        max-height: 427px;
    }

    .column>a img {
        margin-top: 30px;
        width: 96px;
    }

    #boxImageIcones .boxImageIcone {
        padding: 10px;
        right: 8px;
        position: relative;
    }

    a .box-arrow {
        margin: 0 20px 10px 5px;
    }

    .content {
        width: 410px;
        top: 55px;
        margin: 0;
    }

    .content>#titrHome {
        font-size: 18px;
    }

    .categories {
        max-width: 115px;
        height: 105px;
        justify-content: space-around;
    }

    .text-arrow>h4 {
        font-size: 14px;
    }

    .image2 {
        bottom: 300px;
        right: 224px;
        background-size: 96%;
    }

    .box-arrow {
        padding: 3px;
        margin: 0 20px 6px 5px;
    }

    .icon-Arrow-Down-2 {
        padding: 8px;
        top: 118px;
        right: 352px;
    }

    #boxImageIcones {
        right: -20px;
        top: 492px;
    }

    .boxImageIcone {
        padding: 11px;
    }

    #top-menu>ul>li>a {
        font-size: 18px;
    }

    #topHeader .icon-header {
        font-size: 27px;
    }

    #section-pageOne {
        margin-top: -110px;
    }

    .tapContent>#boxTabContent {
        width: 430px;
    }

    #section-pageOne .box-slider {
        right: -356px;
        width: 920px;
        padding-left: 250px;
        padding-right: 240px;
    }

    .boxTwo {
        width: 290px;
        font-size: 16px;
    }

    #section-pageTwo,
    #section-pageFour {
        margin-top: -130px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 306px;
    }

    #arrowPage {
        padding: 11px;
    }

    #section-pageTwo .boxImage {
        min-width: 515.5px;
        max-width: 542px;
        height: 646px;
        top: -10px;
        left: 25px;
    }

    #section-pageTwo #about {
        top: 50px;
        left: 57px;
    }

    .iconHeart {
        top: 55px;
        left: 473px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        width: 479px;
    }

    #section-pageTwo .image3 {
        background-size: 250px;
        top: 160px;
    }

    #section-pageTwo .image2 {
        background-size: 250px;
        bottom: 308px;
        right: 150px;
    }

    .iconHeart#heart2 {
        left: 44px;
        bottom: 380px;
    }

    .image4 {
        background-size: 260px;
        bottom: 267px;
        left: -100px;
    }

    .image4>div#textsVoice {
        top: 15px;
        right: 34px;
    }

    #section-pageThree .box-slider {
        padding-right: 775px;
        left: -9px;
        width: 93%;
    }


    .image4>.audio {
        margin-top: 10px;
    }

    .image4>.audio>i#playBtn {
        top: 30px;
    }

    #section-pageTwo #contactUs {

        bottom: 258px;
        left: 378px;
    }

    #section-home>.container>.boxContent>#imageSlider {
        max-width: 400px;
        max-height: 435px;
        margin-top: 100px;
    }

    #image1 {
        width: 200px;
        left: 297px;
    }

    #boxWeblog {
        // column-gap: 0;
        // flex-wrap: wrap;
        width: 100%;
    }

    .weblog {
        // flex-basis: 49%;
        margin: 15px 0 15px 10px;
    }

    .weblog img {
        width: 390px;
    }

    #boxWeblog>.weblog:nth-child(3) {
        margin: 0 auto;
    }

    #section-pageFour {
        margin-top: -52px;
    }

    .imgAboutUs {
        background-size: 500px;
        min-height: 490px;
        min-width: 410px;
    }

    .textAboutUs {
        padding: 80px 55px 80px 0;
    }

    .textAboutUs>p {
        font-size: 18px;
        height: 400px;
    }

    .imgError {
        background-size: 1130px;
        left: 5px;
    }

    #callBox>.itemCall>.icon-Call>i {
        font-size: 50px;
    }

    h3.title {
        font-size: 35px;
    }

    #form-information {
        margin-top: 20px;
    }

    #section-blog #boxWeblog {
        margin-bottom: 100px;
    }

    #page-weblogs #Weblog .blog img {
        max-width: 490px;
        max-height: 490px;
        margin-bottom: 35px;
    }

    .blog p {
        line-height: 2.3;
        font-size: 16px;
    }

    #page-weblogs #Weblog .itemBlog .item img {
        max-width: 80px;
        max-height: 80px;
    }

    #page-weblogs #Weblog .itemBlog {
        padding-right: 15px;
    }

    #boxTabContent {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;
    }

    #topHeader .top-menu2 {
        min-width: 1025px;
        padding: 15px 100px;
    }

    #topHeader .top-menu2 ul.menu2 li.itemMenu2 {
        padding: 15px 0 15px 25px;
    }

    .post .head .image {
        height: 385px;
    }

}



@media screen and (max-width: 768px) {

    a#go-to-top:link,
    a#go-to-top:visited {
        width: 50px;
        height: 50px;
        left: 25px;
        bottom: 80px;

        .icon-up {
            font-size: 20px;
        }
    }

    .center-circle {
        width: 50px;
        height: 50px;
        left: 25px;
        bottom: 145px;
        display: flex;

        .icon-social {
            font-size: 20px;
        }

        .small-circle {
            width: 40px;
            height: 40px;

            .icon-smallCircle {
                font-size: 20px;
            }
        }
    }

    .circle-Telegram {
        transform: translate(-20px, -75px);

        &:hover {
            transform: translate(-20px, -75px) scale(1.12) !important;
        }
    }

    .circle-Instagram {
        transform: translate(30px, -80px);

        &:hover {
            transform: translate(30px, -80px) scale(1.12) !important;
        }
    }

    .circle-Facebook {
        transform: translate(71PX, -53PX);

        &:hover {
            transform: translate(71PX, -53PX) scale(1.12) !important;
        }
    }

    .circle-Whatsapp {
        transform: translate(84PX, -5px);

        &:hover {
            transform: translate(84PX, -5px) scale(1.12) !important;
        }
    }

    .circle-Twitter {
        transform: translate(70px, 44px);

        &:hover {
            transform: translate(70px, 44px) scale(1.12) !important;
        }
    }







    #section-pageTwo>.container>.boxContent>.boxText {
        width: 80%;
    }

    #imageSlider2 {
        display: block;
    }

    #section-pageTwo,
    #section-pageFour {
        margin-top: -475px;
    }


    #section-pageOne {
        margin-top: -265px;
    }

    .payment_procedures .payment_action {
        position: fixed;
        bottom: 70px;
        right: 0;
        background: #fff;
        height: 70px;
        width: 100%;
        padding: 0 77px;
    }

    .stepContent .payment_action {
        z-index: 2;
    }

    .filter-box .payment_action {
        z-index: 3;
    }

    #top-menu .filterProduct {
        display: block;
    }

    #section-pageOne .items-tabContent .boxTwo>p {
        display: none;
    }

    #section-pageOne .items-tabContent .boxTwo {
        bottom: 620px;
    }

    #topHeader #top-menu #hambergerMuno2 {
        display: block;
    }

    #boxIcon #user {
        display: none;
    }

    #categories-weblog .sidebar {
        display: none;
    }

    #categories-weblog .weblog {
        width: 330px;
    }

    #categories-weblog .weblog img {
        width: 320px;
    }

    #categories-weblog {
        display: inline-block;
    }

    #section-blog #filterBtn {
        display: block;
        margin: 40px 15px -25px;
    }

    .payment_procedures .container {
        width: 95%;
    }

    .payment_procedures .payment_action .link {
        border-radius: 7px;
        color: #fff;
        font-size: 13px;
    }

    .payment_procedures .col-md-8,
    .payment_procedures .col-md-4 {
        padding: 3px;
    }

    .payment_procedures .cart-bill .box li span {
        font-size: 13px;
    }

    .input_box input,
    .input_box select,
    .input_box textarea {
        font-size: 13px;
    }

    .payment_procedures .cart-bill .box li.discount .input_box .link {
        font-size: 14px;
    }

    .payment_procedures .cart-bill .box li.bold span {
        font-size: 13px;
    }

    .payment_procedures .payment-list {
        margin-bottom: 140px;
    }

    .payment_procedures .cart-bill .submit {
        margin-top: 0;
    }

    .contact_us .row {
        display: flex;
        margin-top: 250px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact_us .col-xl-3 {
        width: 80%;
        margin-top: 40px;
    }

    .contact_us .col-xl-7 {
        width: 100%;
    }

    #page-error .container {
        height: 300px;
    }

    .post .content {
        width: 570px;
    }

    .post .head .image {
        height: 320px;

    }

    .post .content img {
        margin-bottom: 63px;
        height: 200px;
    }

    .post .col-md-4 {
        width: 50%;
    }

    .comments .justify-content-center {
        /* justify-content: center !important; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .comments .col-xl-7 {
        width: 100%;
    }

    .comments .main_card .comment_item.reply {
        margin-right: 0;
        margin: 0 40px 0 0;
    }

    .comments .comment_form {
        margin-top: 25px;
        width: 104%;
    }

    .comments .col-xl-3 {
        width: 95%;
        right: -5px;
        position: relative;
        margin-bottom: 110px;
    }

    .weblog img {
        width: 340px;
        margin-top: 7px;
    }

    .weblog>.textWeblog>p {
        font-size: 14px;
    }

    #section-pageOne #not-product {
        width: 100%;
    }

    #section-pageOne .items-tabContent {
        flex-direction: column;
    }

    #topHeader .icon-header {
        padding-right: 10px;
        font-size: 23px;
    }

    #boxImageIcones2 {
        display: flex;
        right: 62px;
        top: 485px;
    }

    #boxImageIcones2 .boxImageIcone {
        padding: 12px;
        right: 0;
        position: relative;
    }

    #boxImageIcones {
        display: none;
    }

    #hambergerMuno {
        padding: 0;
    }

    #top-menu>ul>li>a {
        font-size: 16px;
    }

    #top-menu>ul>li {
        padding: 15px 10px;
    }

    .content>#textHome {
        -webkit-line-clamp: 2;
        height: inherit;
    }

    #topHeader #top-menu .icon-header {
        font-size: 25px;
    }

    #topHeader #top-menu ul.menu li.itemMenu a.text-menu #hambergerMuno {
        font-size: 26px;
    }

    #topHeader #top-menu #boxIcon {
        width: 115px;
    }

    #topHeader #top-menu ul.menu {
        display: none;
    }

    #topHeader #top-menu #logoNav1 {
        display: none;
    }

    #topHeader #top-menu #logoNav2 {
        display: block;
        opacity: 1;
        transform: scaleX(1);
    }

    #topHeader #top-menu #logoNav2 img {
        width: 135px;
    }

    #topHeader #hambergerMuno {
        font-size: 27px;
    }

    .boxContent {
        margin-top: 55px;
        flex-direction: column;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 510px;
    }

    #section-home>.container>.boxContent>#imageSlider {
        display: none;
        mask-size: 100%;
        max-width: 345px;
        max-height: 690px;
        margin-top: 90px;
    }

    .seeAll {
        padding-bottom: 13px;
    }

    .seeAll>a {
        font-size: 15px;
        min-width: 120px;
        height: 55px;
        padding: 18px 10px;

    }


    .container {
        height: 1400px;
    }

    .icon-Arrow-Down-2 {
        top: 63px;
        left: 170px;
        right: inherit;
        z-index: 10;
    }

    .image2 {
        bottom: inherit;
        right: inherit;
        left: 0;
        top: -90px;
        background-size: 92%;
    }

    #section-home .container {
        height: 600px;
    }

    #image1 {
        width: 230px;
        left: inherit;
        top: -25px;
        right: 0;
    }

    .content {
        width: 605px;
    }

    .content>#titrHome {
        font-size: 25px;
        -webkit-line-clamp: 1;
        height: inherit;
    }

    .tapContent>#boxTabContent>button,
    .seeAll>button {
        font-size: 15px;
        min-width: 120px;
    }

    .tapContent>#boxTabContent {
        width: 373px;
    }

    #section-pageOne .box-slider {
        padding-right: 920px;
        right: 58px;
        padding-left: 262px;
    }

    #section-pageOne .box-slider>.slider {
        left: 0;
    }

    #section-pageThree .box-slider {
        padding-right: 830px;
        left: 280px;
        width: 135%;
    }

    .weblog {
        width: 350px;
    }

    .boxTwo {
        width: 330px;
        font-size: 18px;
        left: 150px;
        display: flex;
        flex-direction: column-reverse;
        bottom: 455px;
    }


    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 510px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        left: -430px;
        top: inherit;
        bottom: 210px;
        width: 480px;
    }

    .tapContent {
        margin-top: 120px;
    }

    #section-pageTwo .boxImage {
        top: 60px;
        max-width: 600px;
        height: 715px;
        left: 10px;
    }

    #section-pageTwo #about {
        left: 95px;
        top: 405px;
    }

    .iconHeart {
        left: inherit;
        right: 25px;
        top: 420px;
    }

    #section-pageTwo .image2 {
        right: -50px;
        background-size: 255px;
        bottom: inherit;
        top: 850px;
    }

    #section-pageTwo .image3 {
        left: -45px;
        top: 513px;
        background-size: 265px;
    }

    .iconHeart#heart2 {
        left: 70px;
        bottom: 470px;
    }

    .image4 {
        left: -45px;
        bottom: 365px;
        background-size: 260px;
    }

    .image4>div#textsVoice {
        top: 15px;
    }

    .image4>.audio {
        margin-top: 10px;
    }

    .image4>.audio>i#playBtn {
        top: 30px;
    }

    #section-pageTwo #contactUs {
        left: inherit;
        right: 20px;
        bottom: 380px;
    }

    #section-pageThree {
        margin-top: -155px;
    }

    #section-pageThree #iconSlider {
        top: inherit;
        right: 222px;
    }



    #section-pageFour {
        margin-top: -500px;
        height: 885px;
    }



    #social-network>a {
        font-size: 30px;
        margin: 0 18px;
    }

    .column {
        flex: none;
    }

    #columns {
        column-gap: 150px;
        flex-wrap: wrap;
    }

    #columns>.column:nth-child(4) {
        margin: -180px 225px;
    }

    #columns-box>p {
        font-size: 17px;
        margin: 60px 0 -100px;
    }

    .boxAboutUs {
        flex-direction: column;
    }

    .imgAboutUs {
        background-size: 610px;
        min-height: 480px;
        background-position: center;
        width: 99%;
    }

    .textAboutUs {
        padding: 0;
        width: 99%;
    }

    .textAboutUs>p {
        font-size: 17px;
        height: inherit;
        margin: 50px 0 120px;
    }

    ul.breadcrumb {
        right: 80px;
        top: 90px;
    }

    #page-aboutUs h2 {
        font-size: 38px;
    }

    .imgError {
        background-size: 875px;
        left: -4px;
    }

    .imgError>p {
        bottom: 325px;
        padding: 11px 10px;
        font-size: 16px;
        bottom: 345px;
    }

    .imgError>button {
        padding: 14px;
        bottom: 186px;
        font-size: 14px;
    }

    #boxWeblog {
        height: 40%;
        width: 125%;
        position: relative;
        right: -77px;
    }

    #section-blog #boxWeblog>.weblog {
        flex-basis: 32%;
    }

    #section-blog #boxWeblog>.weblog>img {
        margin-top: 10px;
    }

    #section-blog .container,
    #page-aboutUs .container,
    #relationship-port .container,
    #page-weblogs .container {
        height: 100%;
        min-height: 880px;
    }

    #section-blog #footer .column>a>img,
    #page-aboutUs #footer .column>a>img,
    #page-weblogs #footer .column>a>img,
    #footer .column>a>img {
        width: 40%;
        margin-top: 25px;
    }

    #page-weblogs #Weblog {
        flex-direction: column;
    }

    #page-weblogs #Weblog .blog img {
        max-width: 600px;
        max-height: 555px;
    }

    #page-weblogs #Weblog .itemBlog>h3 {
        font-size: 25px;
    }

    #page-weblogs #Weblog .itemBlog .item img {
        min-height: 75px;
    }

    #page-weblogs #Weblog .itemBlog {
        margin-bottom: 40px;
    }

    #topHeader {
        min-width: 666px;
        padding: 15px 80px;
    }

    #section-blog {
        #topHeader {
            padding: 15px 53px;
        }
    }


    #footer {
        display: none;
    }

    #section-home .boxContent #imageSlider {
        mask-image: none;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 340px;
        height: 370px;
        border-radius: 50px;
        // padding: 0 2px;
        margin: 0 auto;
    }

    #topHeader #top-menu ul.menu li.itemMenu a.text-menu {
        font-size: 16px;
    }

    .mobile_footer {
        display: flex;
    }
}



@media screen and (max-width: 425px) {

    #top-menu .filterProduct.active {
        transform: translateX(0px);
    }

    // #top-menu .filterProduct {
    //     transform: translateX(-435px);
    // }

    #imageSlider2 .boxImage {
        width: 345px;
        right: 111px;
    }

    .payment_procedures .payment_action {
        right: -1px;
        padding: 0 5px;
    }

    #section-pageOne .box-slider {
        padding-right: 485px;
        right: -245px;
        padding-left: 0;
        margin: 0;
    }

    #section-pageOne .items-tabContent .boxTwo {
        bottom: 650px;
    }


    .mobile_footer .link .title {
        display: none;
    }

    #categories-weblog .boxWeblog {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    #categories-weblog .weblog {
        margin-left: 0;
    }

    .pagination li:not(:last-child) {
        margin-left: 4px;
    }

    .pagination li .link.arrow {
        font-size: 15px;
        width: 85px;
    }

    .pagination li .link.arrow.prev {
        padding-left: 8px;
    }

    .pagination li .link.arrow .icon {
        font-size: 19px;
        height: 34px;
        width: 34px;
    }

    .pagination li .link {
        font-size: 18px;
        height: 35px;
        padding: 0;
        width: 35px;
    }

    #categories-weblog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-blog .boxWeblog {
        margin-top: 50px;
        margin-right: 0;
        width: 88%;
        margin-bottom: 40px;
    }

    #section-blog #filterBtn {
        padding: 17px 25px;
    }

    #section-blog .weblog img {
        width: 320px;
    }

    #categories-weblog .advertising {
        width: 320px;
    }

    .payment_procedures .col-lg-10 {
        width: 100%;
    }

    .TableOrder>thead tr th h3 {
        font-size: 14px;
    }

    .TableOrder>tbody tr td {
        font-size: 14px;
    }

    .payment_procedures .payment_action .total_cart {
        font-size: 14px;
        margin-right: 14px;
    }

    .payment_procedures .col-md-4 {
        width: 100%;
    }

    .payment_procedures .col-md-4:nth-child(10) {
        width: 100%;
    }

    .payment-list .row {
        flex-direction: column-reverse;
        margin-left: -10px;
    }

    .payment_procedures .col-md-8 {
        width: 100%;
    }

    .payment_procedures .col-md-8,
    .payment_procedures .col-md-4 {
        padding: 0 11px;
    }

    .contact_us .col-xl-3 {
        width: 100%;
    }


    .post .content {
        width: 340px;
    }

    .post h1 {
        font-size: 19px;
    }

    .post .content p {
        line-height: 3.2;
        font-size: 14px;
    }

    .content .justify-content-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post .col-md-4 {
        width: 100%;
    }

    .post .head .image {
        height: 200px;
    }

    .post .content img {
        margin-bottom: 65px;
        margin-top: 0;
        height: 220px;
    }

    #page-weblogs h2 {
        margin: 0 0 45px;
    }

    #send {
        margin-top: 105px;
    }

    #topHeader {
        min-width: 100px;
        padding: 15px 25px;
    }

    #top-menu ul {
        display: none;
    }

    .container {
        width: 90%;
    }

    #columns>.column:nth-child(4) {
        margin: 0;
    }

    #hambergerMuno {
        transition: all 0.5s;

        &:hover {
            .show-manuCategories {
                opacity: 1;
                z-index: 60;
                visibility: visible;
            }

        }
    }

    ul.breadcrumb {
        right: 25px;
        top: 85px;
    }

    #image1 {
        right: -60px;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 340px;
        height: 370px;
        border-radius: 50px;
        padding: 0 2px;
    }

    .tapContent>#boxTabContent {
        width: 250px;
    }


    .image2 {
        display: none;
    }

    .content {
        width: 425px;
    }


    .text-arrow>p {

        width: 186px;
    }

    a .box-arrow {
        padding: 2px;
        margin: 0 30px 0 5px;
    }

    #boxImageIcones2 {
        right: 32px !important;

        .boxImageIcone {
            padding: 10px;
            font-size: 13px;
            font-weight: normal;
        }
    }

    .icon-Arrow-Down-2 {
        top: 68px;
        left: 85px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        z-index: 10;
    }

    .content>#titrHome {
        font-size: 17px;
    }

    .text-arrow {
        margin-top: 10px;
    }

    .content>#textHome {
        width: 381px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 65px;
        margin: 0 0 25px 0;
    }

    #boxCategories {
        width: 90%;
    }

    .tapContent {
        margin: 90px 0 50px;
        overflow: visible;
    }

    .boxTwo {
        left: 28px;
    }

    .boxTwo>p {
        font-size: 16px;
    }

    .boxTwo>div {
        margin: 25px 0 85px;
    }

    .boxTwo>div>i {
        padding: 12px;
        font-weight: normal;
        font-size: 16px;
        margin: 0 5px;
    }

    a #arrowPage {
        padding: 10px;
        font-size: 16px;
    }

    #section-pageTwo p#text-sectionTwo {
        -webkit-line-clamp: 6;
    }

    #section-pageTwo>.container>.boxContent>.boxText {
        width: 100%;
    }

    #section-pageOne .box-slider>.slider {
        left: -560px;
    }

    #section-pageTwo .boxImage {
        left: -12px;
        z-index: 2;
    }

    #section-pageTwo {
        margin-top: -570px;
    }

    #section-pageTwo .boxImage {
        height: 620px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        height: 550px;
        bottom: 320px;
        width: 480px;
    }

    #section-pageTwo #about {
        width: 100px;
        height: 39px;
        left: -10px;
        top: 425px;
        font-size: 15px;
    }

    #section-pageTwo .image3 {
        left: -42px;
        top: 460px;
        background-size: 85%;
        height: 95px;
    }

    #section-pageTwo .image2 {
        background-size: 85%;
        right: -42px;
        top: 815px;
    }

    #section-pageTwo #contactUs {
        width: 100px;
        height: 40px;
        right: -20px;
        bottom: 440px;
        font-size: 15px;
    }

    .image4 {
        left: -40px;
        bottom: 390px;
        background-size: 87%;
    }

    .image4 span#timeAudio {
        left: -80px;
    }

    #section-pageThree>.container>img#imgCover2 {
        width: 700px;
        top: 0;
        right: -350px;
    }

    #section-pageThree .box-slider>.slider {
        left: -414px;
    }

    // #section-pageThree .box-slider {
    //     right: -170px;
    //     width: 720px;
    // }
    #section-pageThree .box-slider {
        right: -571px;
        width: 439px;
    }

    #section-pageThree #iconSlider {
        right: 0;
        left: 0;
    }

    #section-pageThree #iconSlider>i {
        padding: 15px;
        font-size: 15px;
        margin: 0 6px;
    }

    #topTitr {
        padding: 10px 0;
    }

    #section-pageFour {
        margin-top: -500px;
        height: 800px;
    }

    .weblog {
        width: 345px;
    }

    .weblog img {
        width: 322px;
    }

    #boxWeblog {
        height: 550px;
        right: -74px;
        padding-right: 57px;
        padding-left: 8px;
    }

    .weblog>.textWeblog>p {
        margin-bottom: 25px;
    }

    #footer {
        margin-top: -365px;
    }

    #columns-box>p {
        font-size: 14px;
        margin: 30px 0;
    }

    #social-network>a {
        font-size: 28px;
        margin: 0 14px;
    }

    #topHeader #top-menu .icon-header {
        font-size: 25px;
    }

    #boxIcon {
        width: 105px;

    }

    #topHeader #hambergerMuno {
        font-size: 25px;
    }

    .tapContent>#boxTabContent>button,
    .seeAll>a {
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }

    .seeAll>a>i {
        font-size: 15px;
    }

    .textAboutUs>p {
        margin-top: 30px;
        margin-bottom: 70px;
        height: 615px;
    }

    #page-aboutUs h2 {
        margin: 140px 0 45px;
    }

    .imgAboutUs {
        background-size: 385px;
        min-height: 370px;
        min-width: 360px;
    }

    #section-blog #boxWeblog {
        margin-bottom: 430px;
    }

    #section-blog h2 {
        margin: 140px 0 45px;
    }

    #page-weblogs #Weblog .itemBlog {
        margin-bottom: 435px;
        width: 100%;
    }

    #page-weblogs #Weblog .blog img {
        min-width: 310px;
        min-height: 0;
    }

    #page-weblogs #Weblog .blog h1 {
        text-align: center;
    }

    .comments .main_card .comment_item.reply {
        margin-right: 0;
        margin: 0 37px 0 0;
        width: 90%;
    }

    .comments .main_card .comment_item .main_desc {
        font-size: 14px;
    }

    h3.title {
        margin-top: 160px;

    }

    h4.sub-title {
        font-size: 17px;
        margin: 40px 0;
    }

    #callBox {
        flex-wrap: wrap;
        column-gap: 55px;
        margin-bottom: 30px;
    }

    .itemCall {
        flex: auto;
    }

    .itemCall>.sar-titre {
        margin-bottom: 10px;

    }

    .itemCall>p {
        font-size: 14px;
    }

    .form-control {
        &::placeholder {
            font-size: 14px;
        }
    }

    #form-information {
        flex-wrap: wrap;
        column-gap: 0;
        margin-top: 50px;
    }

    #address {
        bottom: -270px;
    }

    #relationship-port #footer {
        margin-top: 56px;
    }

    .iconHeart {
        right: -15px;
        top: 440px;
        z-index: 10;
        font-size: 25px;
    }

    .iconHeart#heart2 {
        left: -15px;
        bottom: 510px;
    }



}

@media screen and (max-width: 375px) {
    #boxImageIcones2 {
        top: 385px;
    }

    #section-pageOne .container {
        height: 1225px;
    }

    #boxCategories {
        width: 100%;
    }

    #imageSlider2 .boxImage {
        width: 305px;
        right: 100px;
        height: 260px;
    }

    .payment_procedures .payment_action {
        right: -4px;
    }

    .pagination li .link {
        font-size: 14px;
        height: 28px;
        width: 28px;
    }

    .pagination li .link.arrow {
        font-size: 13px;
    }

    .pagination li .link.arrow.prev .icon {
        margin-right: 10px;
    }

    .pagination li .link.arrow .icon {
        font-size: 14px;
        height: 28px;
        width: 28px;
    }

    .pagination li .link.arrow.next .icon {
        margin-left: 10px;
    }

    #categories-weblog .sidebar {
        width: 320px;
    }

    #section-blog .boxWeblog {
        width: 97%;
    }

    #relationship-port #topHeader {
        right: -10px;
    }

    #relationship-port ul.breadcrumb {
        right: 25px;
    }

    #page-aboutUs #topHeader {
        right: -5px;
        padding: 15px 6px;
    }

    #columns>.column:nth-child(4) {
        width: 320px;
    }

    .contact_us .main_info {
        margin-right: 0;
    }

    ul.breadcrumb {
        right: 7px;
    }

    .container {
        width: 90%;
    }

    .image2 {
        left: -50px;
        top: 395px;
        background-size: 75%;
        height: 80px;
    }

    .text-arrow>h4 {
        font-size: 13px;
    }

    .text-arrow>p {
        width: 144px;
        margin: 8px 0;
        font-size: 10px;
    }

    .text-arrow {
        margin-top: 10px;
    }

    a .box-arrow {
        margin: 0 43px 10px 5px;
    }

    .content {
        width: 375px;
    }

    .content>#titrHome {
        width: 335px;
        font-size: 21px;
        -webkit-line-clamp: 2;
        line-height: 1.5;
    }

    #topHeader #hambergerMuno {
        padding-right: 0;
    }

    .content>#textHome {
        width: 340px;
        -webkit-line-clamp: 3;
    }

    #logo1 {
        width: 150px;
        margin-right: -15px;
    }


    .tapContent>#boxTabContent {
        width: 160px;
        right: 23px;
        position: relative;
    }

    .tapContent>#boxTabContent>button {
        font-size: 15px;
        min-width: 155px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {

        top: 35px;
    }

    #section-pageTwo {
        margin-top: -365px;
    }

    #section-pageThree .box-slider {

        margin: 40px 0;
    }

    #section-pageOne .box-slider>.slider {
        left: -606px;
    }

    #section-pageTwo p#text-sectionTwo {
        font-size: 16px;
    }

    #section-pageTwo .boxImage {
        height: 580px;
        min-width: 485px;
    }

    #section-pageTwo #about {
        display: none;
        font-size: 14px;
        width: 105px;
        height: 43px;
        left: -7px;
        top: 410px;
    }

    #topTitr {
        padding: 10px 26px;
    }

    #section-pageTwo .image3 {
        display: none;
        left: -55px;
        top: 445px;
        background-size: 74%;
        width: 260px;
        height: 83px;
    }

    .iconHeart {
        right: -17px;
        top: 420px;
        font-size: 20px;
    }

    #section-pageTwo .image2 {
        background-size: 73%;
        right: -56px;
        top: 750px;
    }

    #section-pageTwo .image2 {
        background-size: 73%;
        right: -54px;
        top: 772px;
        width: 263px;
        height: 83px;
    }

    #section-pageTwo #contactUs {
        display: none;
        width: 102px;
        height: 43px;
        right: -16px;
        bottom: 503px;
        font-size: 14px;
    }

    .iconHeart#heart2 {
        left: -16px;
        bottom: 565px;
    }

    .image4>.audio {
        margin-top: 13px;
        margin-right: 45px;
        width: 160px;
    }

    .image4>.audio>i#playBtn {
        top: 33px;
        left: 40px;
    }

    .image4 {
        left: -25px;
        bottom: 455px;
        background-size: 80%;
    }

    .image4>div#textsVoice {
        top: 20px;
        right: 50px;
    }

    .image4 span#textAudio {
        font-size: 12px;
    }

    .image4 span#timeAudio {
        left: -67px;
        font-size: 11px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        bottom: 365px;
    }

    #section-pageThree {
        margin-top: -250px;
    }

    #section-pageThree .box-slider {
        right: -64px;
        padding-right: 310px;
    }

    #section-pageThree .box-slider>.slider {
        left: -460px;
    }

    #section-pageFour {
        margin-top: -605px;
        height: 800px;
    }

    .weblog>.textWeblog>p {
        margin-bottom: 15px;
        height: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
    }



    .column>p {
        margin-top: 30px;
    }

    .column>.footer-list>a {
        margin: 9px 0;
        font-size: 15px;
    }

    .textAboutUs>p {
        height: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 15;
    }

    #page-weblogs #Weblog .blog p {
        width: 100%;
    }


    .form-control {
        width: 94%;
        position: relative;
        right: 10px;
    }

    #address {
        right: 10px;
        width: 94%;
    }


    #columns>.column:nth-child(4) {
        width: 270px;
    }

    .container {
        width: 101%;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 325px;
        height: 349px;
        border-radius: 50px;
    }



    .image2 {
        top: 380px;
        left: -30px;
    }

    #logo1 {
        width: 140px;
        margin-right: -48px;
        margin-bottom: 30px;
    }

    .icon-Arrow-Down-2 {
        left: 100px;
    }

    .content>#textHome {
        -webkit-line-clamp: 4;
        height: inherit;
    }

    #boxCategories>.categories {
        font-size: 15px;
    }

    .icon-categories {
        font-size: 33px;
    }

    .seeAll>a {
        right: -30px;
        position: relative;
        min-width: 155px;
    }

    #section-pageOne .box-slider {
        padding-right: 12px;
        margin: 35px 0;
        width: 444px;
        right: -33px;
    }

    #section-pageOne .box-slider>.slider {
        left: -619px;
    }

    #section-pageOne .items-tabContent .boxTwo {
        bottom: 468px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 328px;
    }

    #section-pageTwo .boxImage {
        height: 561px;
        min-width: 465px;
        left: -9px;
    }

    #section-pageTwo #about {
        font-size: 13px;
        width: 95px;
        height: 36px;
        left: 10px;
        top: 415px;
    }

    #section-pageTwo .image3 {
        left: -32px;
        top: 445px;
        background-size: 73%;
        width: 258px;
        height: 80px;
    }

    .iconHeart {
        right: 5px;
        top: 410px;
        font-size: 20px;
        padding: 7px;
    }

    #section-pageTwo .image2 {
        display: none;
        background-size: 71%;
        right: -38px;
        top: 770px;
        width: 258px;
        height: 78px;
    }

    .iconHeart#heart2 {
        left: 8px;
        bottom: 550px;
    }

    h4.sub-title {
        font-size: 15px;
    }

    #send {
        position: relative;
        right: 10px;
    }

    #columns-box>p {
        font-size: 12px;
    }

    .imgAboutUs {
        background-size: 371px;
        min-height: 350px;
        width: 97%;
        right: -1px;
    }

    .textAboutUs {
        width: 95%;
    }

    .textAboutUs>p {
        font-size: 16px;
        height: 485px;
        margin-bottom: 90px;

    }

    .weblog {
        width: 340px;
    }

    #section-blog #boxWeblog>.weblog>img {
        margin-top: 0;
    }

    #boxWeblog {
        padding-right: 80px;
        padding-left: 33px;
    }

    .mobile_footer .link .icon {
        font-size: 23px;
    }

    .mobile_footer .link .title {
        font-size: 12px;
    }

    .comments .col-xl-7 {
        margin-right: 0;
        width: 95%;
    }

    .comments .col-xl-3 {
        width: 90%;
        right: -8px;
    }

    #page-weblogs #topHeader {
        right: -5px;
    }

    #page-weblogs .mobile_footer {
        display: flex;
        right: -5px;
    }
}

@media screen and (max-width: 320px) {


    #imageSlider2 .boxImage {
        width: 260px;
        right: 85px;
        height: 210px;
    }

    #imageSlider2 {
        margin-top: 45px;
        margin-bottom: 65px;
    }

    .payment_procedures .payment_action {
        padding: 0 2px;
    }

    #categories-weblog .sidebar {
        width: 300px;
    }

    #categories-weblog .advertising {
        width: 300px;
    }

    #section-blog .boxWeblog {
        width: 111%;
    }

    #categories-weblog .weblog {
        width: 300px;
    }

    #section-blog .weblog img {
        width: 290px;
    }

    #section-blog h2 {
        font-size: 30px;
    }

    .pagination li:not(:last-child) {
        margin-left: 0;
    }

    .pagination li .link.arrow.prev {
        padding-left: 0;
        font-size: 13px;
    }

    .pagination li .link {
        font-size: 13px;
        height: 25px;
        width: 25px;
    }

    .pagination li .link.arrow.next {
        padding-right: 0;
        font-size: 13px;
    }

    .post .content {
        right: -8px;
        width: 297px;
    }

    .post .head .post-info span {
        display: block;
        margin: 13px 0;
    }

    .post .content {
        margin-top: -30px;
    }

    .comments .main_card .comment_item {
        padding: 10px 8px;
    }

    .comments .main_card .comment_item .head .name .title {
        font-size: 17px;
    }

    .comments .main_card .comment_item .head .date {
        font-size: 12px;
    }

    .input_box input::placeholder,
    .input_box select::placeholder,
    .input_box textarea::placeholder {
        font-size: 12px;
    }

    #page-weblogs .row {
        margin-top: 150px;
    }

    #topHeader {
        min-width: 100px;
        padding: 15px 10px;
    }

    #page-aboutUs #topHeader {
        right: -3px;
        max-width: 100%;
    }

    .imgAboutUs {
        background-size: 350px;
        min-height: 355px;
        width: 97%;
        min-width: 100px;
    }

    .textAboutUs>p {
        font-size: 16px;
        height: 485px;
        margin-bottom: 90px;
        right: 2px;
        position: relative;
    }


    #section-home>.container>.boxContent>#imageSlider .boxImage {
        position: relative;
        right: -2px;
        height: 325px;
    }

    #boxImageIcones2 {
        top: 335px;
        right: 22px;
    }

    #logo1 {
        width: 127px;
        margin-right: -55px;
    }

    .icon-Arrow-Down-2 {
        left: 77px;
        top: 67px;
        padding: 7px;
    }


    .content>#titrHome {
        width: 304px;
        font-size: 19px;
    }

    .content>#textHome {
        width: 305px;
    }

    #boxCategories {
        width: 86%;
    }

    .tapContent>#boxTabContent {
        right: 7px;

    }

    .seeAll>a {
        right: -10px;
        position: relative;
        min-width: 140px;
    }

    .tapContent>#boxTabContent>button {
        min-width: 150px;
    }

    .tapContent>#boxTabContent {
        width: 155px;
    }

    #section-pageOne .box-slider {
        margin: 20px 0;
        padding-right: 59px;
        right: -64px;

    }

    #section-pageOne .box-slider>.slider {
        left: -653px;
    }

    .boxTwo {
        left: 16px;
        width: 297px;
        bottom: 470px;
    }

    .boxContent {
        margin-top: -50px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 303px;
    }

    #section-pageTwo .boxImage {
        height: 497px;
        min-width: 415px;
    }


    .iconHeart {
        right: 2px;
    }

    #section-pageTwo .image2 {
        top: 705px;
    }

    #section-pageTwo #contactUs {
        bottom: 580px;
    }

    .iconHeart#heart2 {
        left: 7px;
        bottom: 590px;
    }

    .image4 {
        left: 10px;
        bottom: 495px;
        background-size: 81%;
        height: 98px;
        width: 300px;
    }

    #section-pageThree {
        margin-top: -326px;
    }

    #section-pageThree .box-slider {
        right: -119px;
        padding-right: 439px;
    }

    #section-pageThree #iconSlider {
        right: -5px;
    }

    #section-pageFour #titrPage {
        font-size: 18px;
    }

    #topTitr {
        font-size: 13px;
    }

    #section-home {
        margin-top: 70px;
    }

    #boxWeblog {
        padding-left: 17px;
        padding-right: 80px;
    }

    .weblog {
        width: 382px;
    }

    .weblog img {
        width: 297px;
    }

    #section-blog h2 {
        margin: 150px 0 40px;
    }

    .comments .main_card .comment_item.reply {
        margin-right: 0;
        margin: 0 25px 0 0;
        width: 92%;
    }
}