@media screen and (max-width: 2560px) {
    #topHeader {
        max-width: 100%;
        padding: 15px 20.3%;
    }

}

@media screen and (max-width: 1920px) {
    #topHeader {
        padding: 15px 191px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 80%;
    }

    h4.sub-title {
        font-size: 17px;
        margin: 40px 0;
    }

    .itemCall>.sar-titre {
        margin-bottom: 10px;
    }

    #topHeader {
        min-width: 1430px;
        padding: 15px 140px;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        height: 555px;
    }

    .boxImageIcone {
        padding: 13px;
        margin: 0 5px;
    }

    #boxImageIcones {
        right: -5px;
        top: 585px;
    }

    .weblog img {
        margin-top: 0;
        width: 361px;
    }

    #columns-box>p {
        font-size: 17px;
    }

    #boxImageIcones .boxImageIcone {
        margin: 0 5px;
    }

    .icon-Arrow-Down-2 {
        padding: 10px;
        top: 110px;
        right: 455px;
    }

    .content {
        width: 570px;
        position: relative;
        top: 35px;
        margin-right: 75px;
    }

    .content>#textHome {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 48px;
    }

    .content>#titrHome {
        font-size: 25px;
    }

    #image1 {
        width: 290px;
        left: 445px;
    }

    #section-pageOne .box-slider {
        right: -143px;
        width: 930px;
    }

    .boxTwo {
        bottom: 330px;
        left: -4px;
        font-size: 17px;
    }

    #section-pageOne .box-slider>.slider {
        left: -310px;
    }

    #section-pageThree .box-slider>.slider {
        left: -290px;
    }

    #section-pageThree .box-slider {
        left: -161px;
        width: 990px;
    }

    .image2 {
        bottom: 250px;
        right: 415px;
    }

    .boxContent {
        margin-top: 90px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 500px;
        margin: 0;
        top: 0;
    }

    #section-pageTwo #about {
        left: 100px;
    }

    #section-pageTwo .image2 {
        right: 330px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        left: -450px;
    }

    .iconHeart {
        left: 610px;
    }

    #section-pageTwo .image3 {
        left: -90px;
    }

    .iconHeart#heart2 {
        left: 60px;
    }

    .image4 {
        left: -110px;
    }

    #section-pageTwo #contactUs {
        left: 560px;
    }


    #section-home>.container>.boxContent>#imageSlider {
        max-width: 507px;
    }

    #boxCategories {
        // column-gap: 0;
        // flex-wrap: wrap;
    }

    #allCategories {
        justify-content: center;
    }

    .imgAboutUs {
        background-size: 575px;
        min-height: 575px;
    }

    .textAboutUs>p {
        font-size: 19px;
        height: 410px;
    }

    .textAboutUs {
        padding: 82px 55px;
    }

    .imgError {
        background-size: 1420px;
        left: 225px;
    }

    .imgError>p {
        bottom: 350px;
    }

    #page-weblogs #Weblog .blog img {
        max-width: 777px;
        max-height: 750px;
    }

    .blog h1 {
        font-size: 25px;
    }

    #boxWeblog {
        // column-gap: 0;
        // flex-wrap: wrap;
        justify-content: space-around;
        width: 101%;
    }

    .weblog {
        // flex-basis: 30%;
        margin: 15px 0 15px 10px;
    }

    .weblog>.textWeblog>p {
        font-size: 15px;
        height: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        margin-bottom: 20px;
    }

    .column>a img {
        width: 125px;
        margin: 10px 0;
    }

    #topHeader .top-menu2 {
        min-width: 1435px;
        padding: 15px 140px;
    }
}

@media screen and (max-width: 1024px) {

    .weblog>.textWeblog>p {
        font-size: 15px;
    }

    #section-pageThree #iconSlider {
        top: 405px;
        right: 35px;
    }

    .imgError>p {
        bottom: 323px;
        padding: 15px 10px;
    }

    #topHeader {
        min-width: 900px;
        padding: 14px 98px;
    }

    #section-pageOne .box-slider>.slider {
        left: -620+px;
    }

    #section-home>.container>.boxContent>#imageSlider {
        max-width: 390px;
        max-height: 427px;
    }

    .column>a img {
        margin-top: 30px;
        width: 96px;
    }

    #boxImageIcones .boxImageIcone {
        padding: 10px;
        right: 8px;
        position: relative;
    }

    a .box-arrow {
        margin: 0 20px 10px 5px;
    }

    .content {
        width: 410px;
        top: 55px;
        margin: 0;
    }

    .content>#titrHome {
        font-size: 18px;
    }

    .categories {
        max-width: 115px;
        height: 105px;
        justify-content: space-around;
    }

    .text-arrow>h4 {
        font-size: 14px;
    }

    .image2 {
        bottom: 300px;
        right: 224px;
        background-size: 96%;
    }

    .box-arrow {
        padding: 3px;
        margin: 0 20px 6px 5px;
    }

    .icon-Arrow-Down-2 {
        padding: 8px;
        top: 118px;
        right: 352px;
    }

    #boxImageIcones {
        right: -20px;
        top: 492px;
    }

    .boxImageIcone {
        padding: 11px;
    }

    #top-menu>ul>li>a {
        font-size: 18px;
    }

    #topHeader .icon-header {
        font-size: 27px;
    }

    #section-pageOne {
        margin-top: -110px;
    }

    .tapContent>#boxTabContent {
        width: 430px;
    }

    #section-pageOne .box-slider {
        right: -365px;
        width: 920px;
    }

    .boxTwo {
        width: 290px;
        font-size: 16px;
    }

    #section-pageTwo,
    #section-pageFour {
        margin-top: -250px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 306px;
    }

    #arrowPage {
        padding: 11px;
    }

    #section-pageTwo .boxImage {
        min-width: 515.5px;
        max-width: 542px;
        height: 646px;
        top: -10px;
        left: 25px;
    }

    #section-pageTwo #about {
        top: 50px;
        left: 57px;
    }

    .iconHeart {
        top: 55px;
        left: 473px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        width: 479px;
    }

    #section-pageTwo .image3 {
        background-size: 250px;
        top: 160px;
    }

    #section-pageTwo .image2 {
        background-size: 250px;
        bottom: 308px;
        right: 150px;
    }

    .iconHeart#heart2 {
        left: 44px;
        bottom: 380px;
    }

    .image4 {
        background-size: 260px;
        bottom: 267px;
        left: -100px;
    }

    .image4>div#textsVoice {
        top: 15px;
        right: 34px;
    }

    #section-pageThree .box-slider {
        left: -59px;
        width: 718px;
    }

    #section-pageThree .box-slider>.slider {
        position: relative;
        left: -428px;
    }


    .image4>.audio {
        margin-top: 10px;
    }

    .image4>.audio>i#playBtn {
        top: 30px;
    }

    #section-pageTwo #contactUs {

        bottom: 258px;
        left: 378px;
    }

    #section-home>.container>.boxContent>#imageSlider {
        max-width: 390px;
        max-height: 427px;
    }

    #image1 {
        width: 200px;
        left: 297px;
    }

    #boxWeblog {
        // column-gap: 0;
        // flex-wrap: wrap;
        width: 100%;
    }

    .weblog {
        // flex-basis: 49%;
        margin: 15px 0 15px 10px;
    }

    .weblog img {
        width: 390px;
    }

    #boxWeblog>.weblog:nth-child(3) {
        margin: 0 auto;
    }

    #section-pageFour {
        margin-top: -52px;
    }

    .imgAboutUs {
        background-size: 500px;
        min-height: 490px;
        min-width: 410px;
    }

    .textAboutUs {
        padding: 80px 55px 80px 0;
    }

    .textAboutUs>p {
        font-size: 18px;
        height: 400px;
    }

    .imgError {
        background-size: 1130px;
        left: 5px;
    }

    #callBox>.itemCall>.icon-Call>i {
        font-size: 50px;
    }

    h3.title {
        font-size: 35px;
    }

    #form-information {
        margin-top: 20px;
    }

    #section-blog #boxWeblog {
        margin-bottom: 100px;
    }

    #page-weblogs #Weblog .blog img {
        max-width: 490px;
        max-height: 490px;
        margin-bottom: 35px;
    }

    .blog p {
        line-height: 2.3;
        font-size: 16px;
    }

    #page-weblogs #Weblog .itemBlog .item img {
        max-width: 80px;
        max-height: 80px;
    }

    #page-weblogs #Weblog .itemBlog {
        padding-right: 15px;
    }

    #boxTabContent {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;
    }

    #topHeader .top-menu2 {
        min-width: 1025px;
        padding: 15px 100px;
    }

    #topHeader .top-menu2 ul.menu2 li.itemMenu2 {
        padding: 15px 0 15px 25px;
    }


}



@media screen and (max-width: 768px) {
    .weblog img {
        width: 441px;
        margin-top: 7px;
    }

    .weblog>.textWeblog>p {
        font-size: 14px;
    }

    #section-pageOne #not-product {
        width: 100%;
    }

    #section-pageOne .items-tabContent {
        flex-direction: column;
    }

    #topHeader .icon-header {
        padding-right: 10px;
        font-size: 23px;
    }

    #boxImageIcones .boxImageIcone {
        padding: 12px;
        right: 0;
        position: relative;
    }

    #hambergerMuno {
        padding: 0;
    }

    #top-menu>ul>li>a {
        font-size: 16px;
    }

    #top-menu>ul>li {
        padding: 15px 10px;
    }

    .content>#textHome {
        -webkit-line-clamp: 2;
        height: inherit;
    }

    #topHeader #top-menu .icon-header {
        font-size: 27px;
    }

    #topHeader #hambergerMuno {
        font-size: 27px;
    }

    .boxContent {
        margin-top: 30px;
        flex-direction: column;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 510px;
    }

    #section-home>.container>.boxContent>#imageSlider {
        display: block;
        mask-size: 100%;
        max-width: 345px;
        max-height: 690px;
        margin-top: 90px;
    }

    .seeAll {
        padding-bottom: 10px;
    }

    .seeAll>a {
        font-size: 15px;
        min-width: 120px;
        height: 55px;
        padding: 18px 10px;

    }


    .container {
        height: 1400px;
    }

    .icon-Arrow-Down-2 {
        top: 525px;
        left: 170px;
        right: inherit;
        z-index: 10;
    }

    #boxImageIcones {
        right: 145px;
        top: 400px;
    }

    .image2 {
        bottom: inherit;
        right: inherit;
        left: 15px;
        top: 405px;
        background-size: 92%;
    }

    #section-home .container {
        height: 1140px;
    }

    #image1 {
        width: 230px;
        left: inherit;
        top: 430px;
        right: 20px;
    }

    .content {
        width: 605px;
    }

    .content>#titrHome {
        font-size: 25px;
        -webkit-line-clamp: 1;
        height: inherit;
    }

    .tapContent>#boxTabContent>button,
    .seeAll>button {
        font-size: 15px;
        min-width: 120px;
    }

    .tapContent>#boxTabContent {
        width: 373px;
    }

    #section-pageOne .box-slider {
        width: 770px;
        right: 0;
    }

    #section-pageOne .box-slider>.slider {
        left: -390px;
    }


    .boxTwo {
        width: 330px;
        font-size: 18px;
        left: 150px;
        bottom: 420px;
    }


    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 510px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        left: -430px;
        top: inherit;
        bottom: 210px;
        width: 480px;
    }

    .tapContent {
        margin-top: 120px;
    }

    #section-pageTwo .boxImage {
        top: 60px;
        max-width: 600px;
        height: 715px;
        left: 10px;
    }

    #section-pageTwo #about {
        left: 95px;
        top: 405px;
    }

    .iconHeart {
        left: inherit;
        right: 25px;
        top: 420px;
    }

    #section-pageTwo .image2 {
        right: -50px;
        background-size: 255px;
        bottom: inherit;
        top: 850px;
    }

    #section-pageTwo .image3 {
        left: -45px;
        top: 513px;
        background-size: 265px;
    }

    .iconHeart#heart2 {
        left: 70px;
        bottom: 470px;
    }

    .image4 {
        left: -45px;
        bottom: 365px;
        background-size: 260px;
    }

    .image4>div#textsVoice {
        top: 15px;
    }

    .image4>.audio {
        margin-top: 10px;
    }

    .image4>.audio>i#playBtn {
        top: 30px;
    }

    #section-pageTwo #contactUs {
        left: inherit;
        right: 20px;
        bottom: 380px;
    }

    #section-pageThree {
        margin-top: -155px;
    }

    #section-pageThree #iconSlider {
        top: inherit;
        right: 222px;
    }

    #section-pageThree .box-slider {
        width: 770px;
        right: -224px;
    }

    #section-pageThree .box-slider>.slider {
        left: -390px;
    }

    #section-pageFour {
        margin-top: -500px;
        height: 945px;
    }



    #social-network>a {
        font-size: 30px;
        margin: 0 18px;
    }

    .column {
        flex: none;
    }

    #columns {
        column-gap: 150px;
        flex-wrap: wrap;
    }

    #columns>.column:nth-child(4) {
        margin: -180px 225px;
    }

    #columns-box>p {
        font-size: 17px;
        margin: 60px 0 -100px;
    }

    .boxAboutUs {
        flex-direction: column;
    }

    .imgAboutUs {
        background-size: 555px;
        min-height: 430px;
        background-position: center;
        width: 90%;
    }

    .textAboutUs {
        padding: 0;
    }

    .textAboutUs>p {
        font-size: 17px;
        height: inherit;
        margin: 50px 0;
    }

    #page-aboutUs h2 {
        font-size: 38px;
    }

    .imgError {
        background-size: 875px;
        left: -4px;
    }

    .imgError>p {
        bottom: 325px;
        padding: 11px 10px;
        font-size: 16px;
        bottom: 345px;
    }

    .imgError>button {
        padding: 14px;
        bottom: 186px;
        font-size: 14px;
    }

    #boxWeblog {
        height: 46%;
    }

    #section-blog #boxWeblog>.weblog {
        flex-basis: 32%;
    }

    #section-blog #boxWeblog>.weblog>img {
        margin-top: 10px;
    }

    #section-blog .container,
    #page-aboutUs .container,
    #relationship-port .container,
    #page-weblogs .container {
        height: 100%;
        min-height: 880px;
    }

    #section-blog #footer .column>a>img,
    #page-aboutUs #footer .column>a>img,
    #page-weblogs #footer .column>a>img,
    #footer .column>a>img {
        width: 40%;
        margin-top: 25px;
    }

    #page-weblogs #Weblog {
        flex-direction: column;
    }

    #page-weblogs #Weblog .blog img {
        max-width: 600px;
        max-height: 555px;
    }

    #page-weblogs #Weblog .itemBlog>h3 {
        font-size: 25px;
    }

    #page-weblogs #Weblog .itemBlog .item img {
        min-height: 75px;
    }

    #page-weblogs #Weblog .itemBlog {
        margin-bottom: 40px;
    }

    #topHeader {
        min-width: 666px;
        padding: 15px 70px;
    }

    #footer {
        display: none;
    }

    #section-home .boxContent #imageSlider {
        mask-image: none;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 340px;
        height: 370px;
        border-radius: 50px;
        // padding: 0 2px;
        margin: 0 auto;
    }
}



@media screen and (max-width: 425px) {
    #send {
        margin-top: 105px;
    }

    #topHeader {
        min-width: 100px;
        padding: 15px 25px;
    }

    #top-menu ul {
        display: none;
    }

    #topHeader #top-menu {
        justify-content: flex-end;
    }

    #columns>.column:nth-child(4) {
        margin: 0;
    }

    #hambergerMuno {
        transition: all 0.5s;

        &:hover {
            .show-manuCategories {
                opacity: 1;
                z-index: 60;
                visibility: visible;
            }

        }
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 340px;
        height: 370px;
        border-radius: 50px;
        padding: 0 2px;
    }

    // #section-home .boxContent #imageSlider {
    //     mask-image: none;
    // }


    .image2 {

        left: -55px;
        top: 400px;
        background-size: 85%;
    }

    .text-arrow>p {

        width: 186px;
    }

    a .box-arrow {
        padding: 2px;
        margin: 0 30px 10px 5px;
    }

    #boxImageIcones {
        right: 15px;
        top: 405px;
    }

    #boxImageIcones .boxImageIcone {
        padding: 10px;
        font-size: 13px;
        font-weight: normal;
    }

    .icon-Arrow-Down-2 {
        top: 530px;
        left: 45px;
        padding: 8px;
        font-size: 16px;
        font-weight: bold;
        z-index: 10;
    }

    .content>#titrHome {
        font-size: 17px;
    }

    .text-arrow {
        margin-top: 10px;
    }

    .content>#textHome {
        width: 381px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 65px;
        margin: 0 0 25px 0;
    }

    #boxCategories {
        width: 70%;
    }

    #section-home>.container {
        height: 1230px;
    }

    .tapContent>#boxTabContent {
        flex-direction: column;
        height: 310px;
    }

    .seeAll {
        position: absolute;
        bottom: -65px;
        text-align: center;
        width: 100%;
        min-width: 335px;
    }

    .seeAll>a {
        min-width: 335px;

    }

    .tapContent>#boxTabContent>button {
        min-width: 335px;
    }

    .tapContent {
        margin: 90px 0 50px;
        overflow: visible;
    }

    .boxTwo {
        left: 3px;
        bottom: 170px;
    }

    .boxTwo>p {
        font-size: 16px;
    }

    .boxTwo>div {
        margin: 25px 0 85px;
    }

    .boxTwo>div>i {
        padding: 12px;
        font-weight: normal;
        font-size: 16px;
        margin: 0 5px;
    }

    a #arrowPage {
        padding: 10px;
        font-size: 16px;
    }

    #section-pageTwo p#text-sectionTwo {
        -webkit-line-clamp: 6;
    }

    #section-pageTwo>.container>.boxContent>.boxText {
        width: 100%;
    }

    #section-pageOne .box-slider>.slider {
        left: -603px;
    }

    #section-pageTwo .boxImage {
        left: -12px;
        z-index: 2;
    }

    #section-pageTwo {
        margin-top: -130px;
    }

    #section-pageTwo .boxImage {
        height: 620px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        height: 550px;
        bottom: 320px;
        width: 480px;
    }

    #section-pageTwo #about {
        width: 110px;
        height: 43px;
        left: -20px;
        top: 425px;
    }

    #section-pageTwo .image3 {
        left: -60px;
        top: 460px;
        background-size: 85%;
    }

    #section-pageTwo .image2 {
        background-size: 85%;
        right: -60px;
        top: 820px;
    }

    #section-pageTwo #contactUs {
        width: 110px;
        height: 43px;
        right: -20px;
        bottom: 440px;
    }

    .image4 {
        left: -60px;
        bottom: 380px;
        background-size: 87%;
    }

    .image4 span#timeAudio {
        left: -80px;
    }

    #section-pageThree>.container>img#imgCover2 {
        width: 700px;
        top: 0;
        right: -350px;
    }

    #section-pageThree .box-slider>.slider {
        left: -414px;
    }

    #section-pageThree .box-slider {
        right: -188px;
        width: 720px;
    }

    #section-pageThree #iconSlider {
        right: 0;
        left: 0;
    }

    #section-pageThree #iconSlider>i {
        padding: 15px;
        font-size: 15px;
        margin: 0 6px;
    }

    #topTitr {
        padding: 10px 0;
    }

    #section-pageFour {
        margin-top: -500px;
    }

    .weblog {
        width: 345px;
    }

    .weblog img {
        width: 322px;
    }

    #boxWeblog {
        height: 108%;
    }

    .weblog>.textWeblog>p {
        margin-bottom: 25px;
    }

    #footer {
        margin-top: -365px;
    }

    #columns-box>p {
        font-size: 14px;
        margin: 30px 0;
    }

    #social-network>a {
        font-size: 28px;
        margin: 0 14px;
    }

    #topHeader #top-menu .icon-header {
        font-size: 25px;
    }

    #boxIcon {
        width: 105px;

    }

    #topHeader #hambergerMuno {
        font-size: 25px;
    }

    .tapContent>#boxTabContent>button,
    .seeAll>a {
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }

    .seeAll>a>i {
        font-size: 15px;
    }

    .textAboutUs {
        width: 105%;
    }

    .textAboutUs>p {
        margin-top: 30px;
        margin-bottom: 420px;
        height: 615px;
    }

    #page-aboutUs h2 {
        margin: 140px 0 45px;
    }

    .imgAboutUs {
        background-size: 370px;
        min-height: 370px;
        min-width: 360px;
    }

    #section-blog #boxWeblog {
        margin-bottom: 430px;
    }

    #section-blog h2 {
        margin: 140px 0 45px;
    }

    #page-weblogs #Weblog .itemBlog {
        margin-bottom: 435px;
        width: 100%;
    }

    #page-weblogs #Weblog .blog img {
        min-width: 310px;
        min-height: 0;
    }

    #page-weblogs #Weblog .blog h1 {
        text-align: center;
    }

    #page-weblogs h2 {
        margin: 150px 0 45px;

    }

    h3.title {
        margin-top: 160px;

    }

    h4.sub-title {
        font-size: 17px;
        margin: 40px 0;
    }

    #callBox {
        flex-wrap: wrap;
        column-gap: 55px;
        margin-bottom: 30px;
    }

    .itemCall {
        flex: auto;
    }

    .itemCall>.sar-titre {
        margin-bottom: 10px;

    }

    .itemCall>p {
        font-size: 14px;
    }

    .form-control {
        &::placeholder {
            font-size: 14px;
        }
    }

    #form-information {
        flex-wrap: wrap;
        column-gap: 0;
        margin-top: 50px;
    }

    #address {
        bottom: -270px;
    }

    #relationship-port #footer {
        margin-top: 56px;
    }

    .iconHeart {
        right: -35px;
        top: 440px;
        z-index: 10;
        font-size: 25px;
    }

    .iconHeart#heart2 {
        left: -35px;
        bottom: 490px;
    }


}

@media screen and (max-width: 375px) {
    #columns>.column:nth-child(4) {
        width: 320px;
    }

    .container {
        width: 90%;
    }

    .image2 {
        left: -50px;
        top: 395px;
        background-size: 75%;
        height: 80px;
    }

    .text-arrow>h4 {
        font-size: 13px;
    }

    .text-arrow>p {
        width: 144px;
        margin: 8px 0;
        font-size: 10px;
    }

    .text-arrow {
        margin-top: 10px;
    }

    a .box-arrow {
        margin: 0 43px 10px 5px;
    }

    .content {
        width: 509px;
    }

    .content>#titrHome {
        width: 335px;
        font-size: 21px;
        -webkit-line-clamp: 2;
        line-height: 1.5;
    }

    #topHeader #hambergerMuno {
        padding-right: 0;
    }

    .content>#textHome {
        width: 340px;
        -webkit-line-clamp: 3;
    }

    #logo1 {
        width: 150px;
        margin-right: -15px;
    }

    .icon-Arrow-Down-2 {
        left: 55px;
    }

    #section-home>.container {
        height: 1365px;
    }

    #section-pageOne .box-slider>.slider {
        left: -606px;
    }

    #section-pageTwo p#text-sectionTwo {
        font-size: 16px;
    }

    #section-pageTwo .boxImage {
        height: 580px;
        min-width: 485px;
    }

    #section-pageTwo #about {
        font-size: 14px;
        width: 105px;
        height: 43px;
        left: -7px;
        top: 410px;
    }

    #section-pageTwo .image3 {
        left: -55px;
        top: 445px;
        background-size: 74%;
        width: 260px;
        height: 83px;
    }

    .iconHeart {
        right: -17px;
        top: 420px;
        font-size: 20px;
    }

    #section-pageTwo .image2 {
        background-size: 73%;
        right: -56px;
        top: 750px;
    }

    #section-pageTwo .image2 {
        background-size: 73%;
        right: -54px;
        top: 772px;
        width: 263px;
        height: 83px;
    }

    #section-pageTwo #contactUs {
        width: 102px;
        height: 43px;
        right: -16px;
        bottom: 503px;
        font-size: 14px;
    }

    .iconHeart#heart2 {
        left: -16px;
        bottom: 565px;
    }

    .image4>.audio {
        margin-top: 13px;
        margin-right: 45px;
        width: 160px;
    }

    .image4>.audio>i#playBtn {
        top: 33px;
        left: 40px;
    }

    .image4 {
        left: -50px;
        bottom: 445px;
        background-size: 80%;
    }

    .image4>div#textsVoice {
        top: 20px;
        right: 50px;
    }

    .image4 span#textAudio {
        font-size: 12px;
    }

    .image4 span#timeAudio {
        left: -67px;
        font-size: 11px;
    }

    #section-pageTwo .boxContent>img#imgCover {
        bottom: 365px;
    }

    #section-pageThree {
        margin-top: -250px;
    }

    #section-pageThree .box-slider {
        right: -208px;
    }

    #section-pageThree .box-slider>.slider {
        left: -460px;
    }

    .weblog>.textWeblog>p {
        margin-bottom: 15px;
        height: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
    }

    .column>p {
        margin-top: 30px;
    }

    .column>.footer-list>a {
        margin: 9px 0;
        font-size: 15px;
    }

    .textAboutUs>p {
        height: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 15;
    }

    #page-weblogs #Weblog .blog p {
        width: 100%;
    }

    #boxWeblog {
        height: 109%;
    }

    .form-control {
        width: 94%;
        position: relative;
        right: 10px;
    }

    #address {
        right: 10px;
        width: 94%;
    }
}

@media screen and (max-width: 375px) {
    #columns>.column:nth-child(4) {
        width: 270px;
    }

    .container {
        width: 101%;
    }

    #section-home>.container>.boxContent>#imageSlider .boxImage {
        width: 325px;
        height: 349px;
        border-radius: 5px
    }

    #boxImageIcones {
        top: 385px;
    }

    .image2 {
        top: 380px;
        left: -33px;
    }

    #logo1 {
        width: 140px;
        margin-right: -48px;
        margin-bottom: 30px;
    }

    .icon-Arrow-Down-2 {
        left: 70px;
        top: 508px;
    }

    .content>#titrHome {
        width: 312px;
    }

    .content>#textHome {
        width: 279px;
        -webkit-line-clamp: 4;
        height: inherit;
    }

    .tapContent>#boxTabContent>button {
        min-width: 270px;
    }

    .seeAll>a {
        min-width: 270px;
        right: -5px;
        position: relative;
    }

    #section-pageOne .box-slider {
        width: 724px;
        right: -3px;
    }

    #section-pageOne .box-slider>.slider {
        left: -619px;
    }

    .boxTwo {
        left: 17px;
        bottom: 170px;
        width: 296px;
    }

    #section-pageTwo>.container>.boxContent>.boxText>.content {
        width: 267px;
    }

    #section-pageTwo .boxImage {
        height: 500px;
        min-width: 415px;
        left: -9px;
    }

    #section-pageTwo #about {
        font-size: 13px;
        width: 95px;
        height: 36px;
        left: 10px;
        top: 395px;
    }

    #section-pageTwo .image3 {
        left: -32px;
        top: 423px;
        background-size: 73%;
        width: 258px;
        height: 80px;
    }

    .iconHeart {
        right: 3px;
        top: 410px;
        font-size: 20px;
        padding: 7px;
    }

    #section-pageTwo .image2 {
        background-size: 71%;
        right: -41px;
        top: 700px;
        width: 258px;
        height: 78px;
    }

    #section-pageTwo #contactUs {
        width: 100px;
        height: 38px;
        right: 0px;
        bottom: 587px;
        font-size: 13px;
    }

    .iconHeart#heart2 {
        left: 5px;
        bottom: 630px;
    }

    h4.sub-title {
        font-size: 15px;
    }

    #send {
        position: relative;
        right: 10px;
    }

    #columns-box>p {
        font-size: 12px;
    }

    .imgAboutUs {
        background-size: 355px;
        min-height: 350px;
        min-width: 310px;
        right: -3px;
        position: relative;
    }

    .textAboutUs {
        width: 92%;
    }

    .textAboutUs>p {
        font-size: 16px;

    }

    .weblog {
        width: 300px;
    }

    #section-blog #boxWeblog>.weblog>img {
        margin-top: 0;
    }

}