$main: #3d3c45;
$main2: #cf5242;
$main3: #283347;
$text: #707070;

$hover: #53535a;
$hover2: #cf5242;

$black: #000;
$white: #fff;

$success: #4caf50;
$warning: #ff9800;
$error: #f44336;

$bg: #fff;
$bg2: #f8fafd;

$transition1: all 0.3s;