@import "../../../base/setting.scss";

/*--------------------Error----------------*/

.error {
    width: 100%;
    height: 100%;
    background: #8b8b8b08;
    transition: all 0.5s;

    .card {
        margin-block: 105px;

        .item {
            min-height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .title {
                font-size: 70px;
                color: #283347;
            }

            .text {
                color: #707070;
                font-size: 18px;
                margin-block: 25px;
            }

            .link {
                border: 0;
                background: transparent;
                cursor: pointer;
                margin-top: 40px;
                color: #283347;

                &:hover {
                    color: #cf5242;
                }
            }
        }
    }
}



/////////////////Responsive///////////////////

@media screen and (max-width: 768px) {
    .error {
        .card {
            .item {
                min-height: 565px;
            }
        }
    }
}