@import '../../../base/setting.scss';

.about-linom {
    overflow: hidden;

    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .part-textContent {
            display: flex;
            flex-direction: column;
            width: 41%;

            .titr-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 35px 0;

                .box-textTitr {
                    display: flex;
                    align-items: center;

                    .logo-titr {
                        width: 30px;
                        margin-left: 5px;
                    }

                    .sarTitr {
                        color: $main;
                        font-size: 23px;
                    }
                }

                .link {

                    .icon-goToPage {
                        border: 2px solid $text;
                        border-radius: 50%;
                        color: $text;
                        padding: 15px;
                        font-size: 20px;
                        cursor: pointer;
                        transition: all 0.3s;
                        color: $text;
                        font-weight: bold;

                        &:hover {
                            background: $text;
                            color: $white;
                        }
                    }

                }
            }

            .text-content {
                text-align: justify;
                line-height: 2.1;
                font-size: 17px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 6;
            }
        }

        .part-imgContent {
            position: relative;
            width: 50%;

            .img-content {
                -webkit-mask-image: url("/img/home/about-linom/hero2.svg");
                mask-image: url("/img/home/about-linom/hero2.svg");
                mask-size: 100%;
                object-fit: cover;
                width: 100%;
                min-width: 725px;
                max-width: 700px;
                height: 845px;
            }

            .other {

                .imgCover {
                    position: absolute;
                    left: -407px;
                    top: 135px;
                    width: 505px;
                }

                .heart {
                    border-radius: 50%;
                    font-size: 30px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $white;
                    position: absolute;
                    top: 120px;
                    right: 50px;
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.169);
                    transform: rotate(21deg);

                    .icon-Heart {
                        color: $main2;
                    }
                }

                .heart2 {
                    top: inherit;
                    right: inherit;
                    left: 160px;
                    bottom: 155px;
                    transform: rotate(345deg);
                }

                .textLink1 {
                    top: 200px;
                    left: 0;
                }

                .textLink2 {
                    bottom: 120px;
                    right: -100px;
                }

                .textLink1,
                .textLink2 {
                    position: absolute;
                    background-image: url("/images/img2.png");
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 280px;
                    width: 270px;
                    height: 100px;
                    display: flex;
                    align-items: center;

                    .icon-go {
                        border: 2px solid $text;
                        color: $text;
                        border-radius: 50%;
                        padding: 5px;
                        font-weight: bold;
                        margin-inline: 13px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                    &:hover {
                        .icon-go {
                            color: $main2;
                            border: 2px solid $main2;
                        }
                    }

                    .text-box {
                        .titr {
                            margin: 0;
                            color: $main;
                        }

                        .text {
                            margin: 10px 0;
                            font-size: 13px;
                            line-height: 1.5;
                            color: $text;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 200px;
                            text-wrap: nowrap;
                        }
                    }
                }

                .boxAudio {
                    position: absolute;
                    background-image: url("/images/img2.png");
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 280px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    bottom: 20px;
                    left: 0;
                    width: 300px;

                    #textVoice {
                        width: 77%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: absolute;
                        right: 30px;
                        top: 5px;

                        #textAudio {
                            font-size: 13px;
                            color: $main;
                        }

                        #timeAudio {
                            font-size: 12px;
                            color: $main;
                        }
                    }

                    .audio {
                        width: 190px;
                        margin-right: 27px;

                        #playBtn {
                            color: $main2;
                            position: absolute;
                            left: 30px;
                            top: 22px;
                        }

                        .icon-Play:before,
                        .icon-Pause:before {
                            font-size: 50px;
                            cursor: pointer;
                        }
                    }
                }

                .about-link {
                    top: 90px;
                    left: 190px;
                    box-shadow: -3px 3px 4px 0px rgba(209, 209, 209, 0.639);
                }

                .contact-Link {
                    bottom: 40px;
                    right: 70px;
                    box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.169);
                }

                .about-link,
                .contact-Link {
                    position: absolute;
                    width: 120px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background: $white;
                    color: $main;
                    border-radius: 30px;
                    padding-inline: 5px;
                    cursor: pointer;
                    transition: all 0.3s;

                    .text-aboutLink,
                    .text-contentLink {
                        font-size: 16px;
                    }

                    .icon-aboutLink,
                    .icon-contactLink {
                        font-weight: bold;
                        transition: all 0.3s;
                    }

                    &:hover {
                        background: $main2;
                        color: $white;

                        .icon-aboutLink {
                            color: $white;
                            padding-right: 3px;
                            margin-left: -3px;
                        }

                        .icon-contactLink {
                            color: $white;
                            margin-right: -3px;
                            padding-left: 3px;
                        }
                    }
                }

            }
        }

    }

}



/////////////////Responsive///////////////////

@media screen and (max-width: 1440px) {

    .about-linom {
        .card {
            .part-imgContent {
                width: 59%;

                .other {
                    .about-link {
                        left: 145px;
                    }

                    .heart2 {
                        left: 115px;
                    }

                    .imgCover {
                        top: 220px;
                        width: 500px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {

    .about-linom {
        .card {
            .part-textContent {
                .text-content {
                    font-size: 16px;
                }
            }

            .part-imgContent {
                .img-content {
                    min-width: 590px;
                    height: 690px;
                    margin-right: -25px;
                }

                .other {
                    .imgCover {
                        top: 160px;
                        width: 430px;
                    }

                    .textLink1 {
                        top: 140px;
                    }

                    .textLink2 {
                        bottom: 100px;
                    }

                    .textLink1,
                    .textLink2 {
                        background-size: 240px;
                        height: 90px;
                        width: 232px;

                        .icon-go {
                            margin-right: 10px;
                        }

                        .text-box {
                            margin-bottom: 7px;

                            .titr {
                                font-size: 15px;
                            }

                            .text {
                                font-size: 12px;
                                margin-bottom: 0;
                                width: 174px;
                            }
                        }
                    }

                    .about-link {
                        top: 65px;
                        left: 50px;
                        font-size: 15px;
                        width: 110px;
                        height: 47px;

                        .text-aboutLink {
                            font-size: 15px;
                        }
                    }

                    .contact-Link {
                        font-size: 15px;
                        width: 110px;
                        height: 47px;
                        bottom: 30px;
                        right: 25px;

                        .text-contentLink {
                            font-size: 15px;
                        }
                    }

                    .heart1 {
                        top: 100px;
                        right: 20px;
                    }

                    .heart2 {
                        left: 45px;
                        bottom: 140px;
                    }

                    .boxAudio {
                        background-size: 272px;
                        width: 290px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .about-linom {
        .card {
            flex-direction: column;

            .part-textContent {
                width: 100%;

                .titr-content {
                    .link {
                        .icon-goToPage {
                            padding: 12px;
                        }
                    }
                }

                .text-content {
                    font-size: 16px;
                    -webkit-line-clamp: 5;
                }
            }

            .part-imgContent {
                width: 100%;

                .img-content {
                    margin: 0 auto;
                    max-width: 570px;
                    min-width: 600px;
                    height: 695px;
                    display: block;
                }

                .other {
                    .imgCover {
                        left: -360px;
                    }

                    .about-link {
                        top: 80px;
                        left: 125px;
                    }

                    .textLink1 {
                        top: 150px;
                    }

                    .heart1 {
                        right: 85px;
                    }

                    .textLink2 {
                        right: 0;
                    }

                    .contact-Link {
                        bottom: 25px;
                        right: 100px;
                    }

                    .heart2 {
                        left: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .about-linom {
        .card {
            .part-imgContent {
                .img-content {
                    margin: 0 -25px;
                    min-width: 460px;
                    height: 535px;
                }

                .other {
                    .imgCover {
                        display: none;
                    }

                    .about-link {
                        display: none;
                    }

                    .contact-Link {
                        display: none;
                    }

                    .heart1 {
                        right: 0;
                        top: 75px;
                    }

                    .textLink1 {
                        display: none;
                    }

                    .textLink2 {
                        display: none;
                    }

                    .boxAudio {
                        bottom: -50px;
                        left: -15px;
                    }

                    .heart2 {
                        left: 0;
                        bottom: 70px;
                    }

                    .heart {
                        padding: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .about-linom {
        .card {
            .part-imgContent {
                .img-content {
                    margin: 0 -20px;
                    min-width: 400px;
                    height: 465px;
                }

                .other {
                    .heart {
                        padding: 7px;
                        font-size: 27px;
                    }

                    .heart1 {
                        top: 70px;
                    }

                    .boxAudio {
                        background-size: 80%;
                        bottom: -35px;
                        left: -40px;

                        #textVoice {
                            width: 70%;
                            right: 40px;
                            top: 22px;
                        }

                        .audio {
                            #playBtn {
                                left: 37px;
                                top: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .about-linom {
        .card {
            .part-textContent {
                .text-content {
                    font-size: 15px;
                }
            }

            .part-imgContent {
                .img-content {
                    margin: 0 -47px;
                }

                .other {
                    .heart1 {
                        right: -10px;
                    }

                    .heart2 {
                        left: -10px;
                        bottom: 65px;
                    }
                }
            }
        }
    }
}