@import '../../../base/setting.scss';

.about-linom {
    overflow: hidden;

    .card {
        .part-textContent {
            .titr-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-block: 35px;

                .box-textTitr {
                    display: flex;
                    align-items: center;

                    .logo-titr {
                        width: 30px;
                        margin-left: 5px;
                    }

                    .sarTitr {
                        color: $main;
                        font-size: 21px;
                    }
                }

                .link {
                    .icon-goToPage {
                        border: 2px solid;
                        border-radius: 50%;
                        color: $text;
                        padding: 11px;
                        font-size: 17px;
                        cursor: pointer;
                        transition: all 0.3s;
                        font-weight: bold;

                        &:hover {
                            background: $text;
                            color: $white;
                        }
                    }
                }
            }

            .text-content {
                text-align: justify;
                line-height: 2.5;
                font-size: 16px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 6;
            }
        }

        .part-imgContent {
            position: relative;

            .img-content {
                @media screen and (max-width: 1024px) {
                    min-width: 590px;
                    height: 690px;
                    margin-right: -50px;
                }

                @media screen and (max-width: 768px) {
                    margin: 0 auto;
                    max-width: 570px;
                    min-width: 600px;
                    height: 695px;
                    display: block;
                }

                @media screen and (max-width: 425px) {
                    min-width: 460px;
                    height: 535px;
                    position: relative;
                    left: 25px;
                }

                @media screen and (max-width: 375px) {
                    min-width: 400px;
                    height: 465px;
                }

                @media screen and (max-width: 320px) {
                    left: 47px;
                }

                -webkit-mask-image: url("/img/home/about-linom/hero2.svg");
                mask-image: url("/img/home/about-linom/hero2.svg");
                mask-size: 100%;
                object-fit: cover;
                width: 100%;
                min-width: 725px;
                max-width: 700px;
                height: 845px;
            }

            .other {

                .imgCover {
                    @media screen and (max-width: 1440px) {
                        top: 220px;
                    }

                    @media screen and (max-width: 1024px) {
                        display: none;
                    }

                    position: absolute;
                    right: 670px;
                    top: 135px;
                    width: 505px;
                }

                .heart {
                    @media screen and (max-width: 1024px) {
                        top: 100px;
                        right: 5px;
                    }

                    @media screen and (max-width: 425px) {
                        padding: 8px;
                    }

                    @media screen and (max-width: 320px) {
                        padding: 6px;
                    }

                    border-radius: 50%;
                    font-size: 30px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $white;
                    position: absolute;
                    top: 120px;
                    right: 65px;
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.169);
                    transform: rotate(21deg);

                    .icon-Heart {
                        color: $main2;
                    }
                }

                .heart1 {
                    @media screen and (max-width: 768px) {
                        right: 100px;
                    }

                    @media screen and (max-width: 425px) {
                        right: 15px;
                        top: 75px;
                    }

                    @media screen and (max-width: 320px) {
                        right: 2px;
                    }
                }

                .heart2 {
                    @media screen and (max-width: 1024px) {
                        right: 455px;
                        bottom: 140px;
                    }

                    @media screen and (max-width: 768px) {
                        right: 555px;
                    }

                    @media screen and (max-width: 425px) {
                        right: 355px;
                        bottom: 70px;
                    }

                    @media screen and (max-width: 425px) {
                        right: 315px;
                    }

                    @media screen and (max-width: 320px) {
                        right: 275px;
                    }

                    top: inherit;
                    right: 615px;
                    bottom: 155px;
                    transform: rotate(345deg);
                }

                .textLink1 {
                    @media screen and (max-width: 1440px) {
                        right: 435px;
                    }

                    @media screen and (max-width: 1024px) {
                        top: 130px;
                        right: 270px;
                    }

                    @media screen and (max-width: 768px) {
                        top: 150px;
                        right: 490px;
                    }

                    top: 200px;
                    right: 530px;
                }


                .textLink2 {
                    @media screen and (max-width: 1024px) {
                        bottom: 90px;
                    }

                    @media screen and (max-width: 768px) {
                        right: 0;
                    }

                    bottom: 120px;
                    right: -100px;
                }

                .textLink1,
                .textLink2 {
                    @media screen and (max-width: 1024px) {
                        background-size: 240px;
                        height: 90px;
                        width: 232px;
                    }

                    @media screen and (max-width: 425px) {
                        display: none;
                    }

                    position: absolute;
                    background-image: url("/images/img2.png");
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 280px;
                    width: 270px;
                    height: 100px;
                    display: flex;
                    align-items: center;

                    .icon-go {

                        @media screen and (max-width: 1024px) {
                            margin-right: 10px;
                        }

                        border: 2px solid $text;
                        color: $text;
                        border-radius: 50%;
                        padding: 5px;
                        font-weight: bold;
                        margin-inline: 13px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                    &:hover {
                        .icon-go {
                            color: $main2;
                            border: 2px solid $main2;
                        }
                    }

                    .text-box {
                        @media screen and (max-width: 1024px) {
                            margin-bottom: 5px;
                        }

                        .titr {
                            margin: 0;
                            color: $main;
                        }

                        .text {
                            @media screen and (max-width: 1024px) {
                                margin-bottom: 0;
                                width: 170px;
                            }

                            width: 170px;
                            margin: 10px 0;
                            font-size: 13px;
                            line-height: 1.5;
                            color: $text;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 200px;
                            text-wrap: nowrap;
                        }
                    }
                }

                .boxAudio {
                    @media screen and (max-width: 1440px) {
                        right: 420px;
                    }

                    @media screen and (max-width: 1024px) {
                        background-size: 272px;
                        width: 290px;
                        right: 225px;
                    }

                    @media screen and (max-width: 768px) {
                        right: 445px;
                    }

                    @media screen and (max-width: 425px) {
                        right: 135px;
                        bottom: -40px;
                    }

                    @media screen and (max-width: 375px) {
                        background-size: 100%;
                        width: 240px;
                        bottom: -35px;
                        right: 125px;
                    }

                    @media screen and (max-width: 320px) {
                        right: 77px;
                    }

                    position: absolute;
                    background-image: url("/images/img2.png");
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 280px;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    bottom: 20px;
                    // left: 0;
                    right: 530px;
                    width: 300px;

                    #textVoice {
                        @media screen and (max-width: 375px) {
                            width: 85%;
                            right: 15px;
                            top: 22px;
                        }

                        width: 77%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: absolute;
                        right: 30px;
                        top: 5px;

                        #textAudio {
                            font-size: 13px;
                            color: $main;
                        }

                        #timeAudio {
                            font-size: 12px;
                            color: $main;
                        }
                    }

                    .audio {
                        @media screen and (max-width: 375px) {
                            width: 65%;
                            margin: 13px 20px 0 0;
                        }

                        width: 62%;
                        margin-right: 27px;

                        #playBtn {
                            @media screen and (max-width: 375px) {
                                left: 13px;
                                top: 34px;
                            }

                            color: $main2;
                            position: absolute;
                            left: 30px;
                            top: 22px;
                        }

                        .icon-Play:before,
                        .icon-Pause:before {
                            font-size: 50px;
                            cursor: pointer;
                        }
                    }
                }

                .about-link {
                    @media screen and (max-width: 1024px) {
                        right: 380px;
                        top: 65px;
                    }

                    @media screen and (max-width: 768px) {
                        top: 75px;
                        right: 480px;
                    }

                    top: 90px;
                    right: 520px;
                    box-shadow: -3px 3px 4px 0px rgba(209, 209, 209, 0.639);
                }

                .contact-Link {
                    @media screen and (max-width: 1024px) {
                        bottom: 30px;
                        right: 25px;
                    }

                    @media screen and (max-width: 768px) {
                        bottom: 25px;
                        right: 100px;
                    }

                    bottom: 40px;
                    right: 70px;
                    box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.169);
                }

                .about-link,
                .contact-Link {
                    @media screen and (max-width: 1024px) {
                        width: 110px;
                        height: 47px;
                    }

                    @media screen and (max-width: 425px) {
                        display: none;
                    }

                    position: absolute;
                    width: 120px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background: $white;
                    color: $main;
                    border-radius: 30px;
                    padding-inline: 5px;
                    cursor: pointer;
                    transition: all 0.3s;

                    .text-aboutLink,
                    .text-contentLink {
                        font-size: 16px;
                    }

                    .icon-aboutLink,
                    .icon-contactLink {
                        font-weight: bold;
                        transition: all 0.3s;
                    }

                    &:hover {
                        background: $main2;
                        color: $white;

                        .icon-aboutLink {
                            color: $white;
                            padding-right: 3px;
                            margin-left: -3px;
                        }

                        .icon-contactLink {
                            color: $white;
                            margin-right: -3px;
                            padding-left: 3px;
                        }
                    }
                }

            }
        }

    }

}