@import '../../../base/setting.scss';

section.hero {
    min-height: 100px;

    .MobileSlider {

        .boxSlider2 {
            width: 100%;
            overflow: hidden;
            display: none;
            flex-shrink: 0;
            margin-top: 110px;
            position: relative;

            .boxItemImg {
                margin-inline: 5px;

                .img {
                    @media screen and (max-width: 425px) {
                        height: 230px;
                    }

                    width: 100%;
                    height: 360px;
                    object-fit: cover;
                    border-radius: 17px;
                    // position: relative;
                }
            }
        }

        .boxIconSlider2 {
            @media screen and (max-width: 425px) {
                right: 32px;
                top: 355px;
            }

            @media screen and (max-width: 375px) {
                gap: 5px;
            }

            display: none;
            align-items: center;
            position: absolute;
            right: 60px;
            gap: 10px;
            top: 485px;
            justify-content: space-between;
            flex-direction: row-reverse;

            .boxImageIcone {
                @media screen and (max-width: 768px) {
                    margin-inline: 3px;
                    padding: 12px;
                }

                border: 2px solid $main;
                padding: 15px;
                display: block;
                border-radius: 50%;
                font-weight: bold;
                color: $white;
                background: $main;
                cursor: pointer;
                transition: $transition1;

                &:hover {
                    border: 2px solid $hover;
                    background: $hover;
                }
            }
        }
    }

    .card {
        .sliders {
            .heroSlider1 {
                .boxSlider1 {
                    @media screen and (max-width: 1440px) {
                        max-width: 525px;
                        max-height: 610px;
                    }

                    @media screen and (max-width: 1024px) {
                        max-width: 465px;
                        max-height: 515px;
                    }

                    display: flex;
                    -webkit-mask-image: url("img/home/hero/hero.svg");
                    mask-image: url("img/home/hero/hero.svg");
                    mask-size: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    min-width: 100px;
                    max-width: 630px;
                    height: 100%;
                    min-height: 100px;
                    max-height: 700px;
                    flex-shrink: 0;
                    margin-top: 90px;

                    .boxItemImg {
                        .img {
                            object-fit: cover;
                            width: 100%;
                            aspect-ratio: 1 / 1.1;
                        }
                    }
                }

                .boxIconSlider1 {
                    @media screen and (max-width: 1440px) {
                        bottom: 55px;
                    }

                    @media screen and (max-width: 1024px) {
                        bottom: 45px;
                        width: 90px;
                        gap: 7px;
                    }

                    display: flex;
                    align-items: center;
                    position: relative;
                    gap: 17px;
                    bottom: 65px;
                    width: 117px;
                    flex-direction: row-reverse;
                    justify-content: center;

                    .boxImageIcone {
                        @media screen and (max-width: 1024px) {
                            padding: 11px;
                        }

                        border: 2px solid $main;
                        padding: 15px;
                        display: block;
                        border-radius: 50%;
                        font-weight: bold;
                        color: $white;
                        background: $main;
                        cursor: pointer;
                        transition: $transition1;

                        &:hover {
                            border: 2px solid $hover;
                            background: $hover;
                        }
                    }
                }
            }
        }

        .textBox {
            display: flex;

            .content {
                @media screen and (max-width: 1440px) {
                    margin-top: 55px;
                }

                @media screen and (max-width: 768px) {
                    margin-top: 70px;
                }

                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .logo1 {
                    @media screen and (max-width: 425px) {
                        margin-right: -35px;
                    }

                    width: 175px;
                    margin-bottom: 40px;
                }

                .titrHome {
                    @media screen and (max-width: 375px) {
                        -webkit-line-clamp: 2;
                        line-height: 1.5;
                        margin: 0;
                    }

                    color: $main3;
                    text-align: center;
                    font-size: 23px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    margin-block: 15px;
                }

                .textHome {
                    text-align: justify;
                    line-height: 2.2;
                    margin-block: 15px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    color: $text;
                    font-size: 16px;
                }

                .boxCategories {
                    @media screen and (max-width: 1024px) {
                        width: 450px;
                        justify-content: flex-start;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 425px) {
                        width: 106%;
                    }

                    @media screen and (max-width: 320px) {
                        width: 108%;
                    }

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    margin-block: 10px;
                    width: 101%;
                    overflow-x: auto;
                    white-space: nowrap;
                    padding-bottom: 10px;
                    color: $text;
                    transition: $transition1;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #f6f6f6;
                    }

                    &::-webkit-scrollbar {
                        width: 1px;
                        height: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #c1c8d5;
                    }

                    .categories {
                        @media screen and (max-width: 1024px) {
                            min-width: 105px;
                            height: 95px;
                        }

                        @media screen and (max-width: 768px) {
                            height: 100px;
                        }

                        border: 2px solid $text;
                        border-radius: 10px;
                        padding: 5px;
                        width: 100%;
                        min-width: 120px;
                        max-width: 120px;
                        height: 115px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        cursor: pointer;
                        transition: $transition1;
                        color: $text;


                        &.addCategories {
                            border: 2px solid $main2;
                            color: $main2;
                        }

                        .icon-categories {
                            font-weight: normal;
                            font-size: 35px;
                        }

                        .text-categories {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            -webkit-line-clamp: 1;
                            text-align: center;
                        }

                        &:hover {
                            border: 2px solid $main2;

                            i,
                            p {
                                color: $main2;
                            }
                        }
                    }
                }

                .allCategories {
                    display: flex;
                    align-items: center;
                    color: $text;
                    margin-top: 10px;
                    transition: $transition1;

                    &:hover {

                        p,
                        i {
                            color: $main2;
                        }
                    }

                    p {
                        padding: 0 5px;
                        cursor: pointer;
                        transition: $transition1;
                    }
                }
            }
        }

        .other {
            position: relative;
            padding: 0;

            .image1 {
                @media screen and (max-width: 1024px) {
                    width: 240px;
                    right: -40px;
                    top: 20px;
                }

                @media screen and (max-width: 375px) {
                    width: 170px;
                    top: 0;
                }

                width: 345px;
                position: absolute;
                top: 0;
                z-index: -1;
            }

            .goNextSection {
                @media screen and (max-width: 1440px) {
                    left: 110px;
                }

                @media screen and (max-width: 1024px) {
                    left: 0;
                    font-size: 18px;
                    top: 100px;
                }

                @media screen and (max-width: 768px) {
                    left: 215px;
                    top: 64px;
                }

                @media screen and (max-width: 425px) {
                    right: 285px;
                    left: inherit;
                    padding: 15px;
                }

                @media screen and (max-width: 375px) {
                    right: 260px;
                    padding: 13px;
                }

                @media screen and (max-width: 320px) {
                    right: 230px;
                }

                border: 2px solid $text;
                border-radius: 50%;
                color: $text;
                padding: 15px;
                font-size: 21px;
                font-weight: bold;
                position: absolute;
                top: 105px;
                left: 95px;
                cursor: pointer;
                transition: $transition1;

                &:hover {
                    background: $text;
                    color: $white;
                }
            }

            .image2 {
                @media screen and (max-width: 1440px) {
                    top: 550px;
                }

                @media screen and (max-width: 1024px) {
                    background-size: 240px;
                    height: 90px;
                    top: 525px;
                    left: -75px;
                    width: 232px;
                }

                @media screen and (max-width: 990px) {
                    top: -85px;
                    left: 145px;
                }

                @media screen and (max-width: 768px) {
                    left: 65px;
                    top: -80px;
                }

                position: absolute;
                background-image: url(images/img2.png);
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: 280px;
                top: 640px;
                left: 0;
                width: 270px;
                height: 100px;
                display: flex;
                align-items: center;
                z-index: 1;

                .icon-arrow {
                    border: 2px solid $text;
                    color: $text;
                    border-radius: 50%;
                    padding: 5px;
                    font-weight: bold;
                    margin: 0 15px 10px 12px;
                    cursor: pointer;
                    transition: $transition1;
                    z-index: 1;
                    position: relative;

                    &:hover {
                        color: $main2;
                        border: 2px solid $main2;
                    }
                }

                &:hover {
                    .icon-arrow {
                        color: $main2;
                        border: 2px solid $main2;
                    }
                }

                .box-image2 {
                    .titr-image2 {
                        margin: 0;
                        font-size: 15px;
                    }

                    .text-image2 {
                        @media screen and (max-width: 1024px) {
                            margin-bottom: 0;
                            width: 174px;
                        }

                        margin-block: 10px;
                        font-size: 12px;
                        line-height: 1.5;
                        color: $text;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 201px;
                        text-wrap: nowrap;
                    }
                }
            }
        }
    }
}