@import '../../../base/setting.scss';

section.hero {
    min-height: 100px;

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        position: relative;

        .heroSlider1 {
            .boxSlider1 {
                display: flex;
                -webkit-mask-image: url("img/home/hero/hero.svg");
                mask-image: url("img/home/hero/hero.svg");
                mask-size: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                min-width: 100px;
                max-width: 630px;
                height: 100%;
                min-height: 100px;
                max-height: 700px;
                flex-shrink: 0;
                margin-top: 90px;

                .boxItemImg {
                    .img {
                        height: 700px;
                        width: 100%;
                    }
                }
            }

            .boxIconSlider1 {
                display: flex;
                align-items: center;
                position: relative;
                left: 10px;
                bottom: 65px;
                width: 140px;
                flex-direction: row-reverse;
                justify-content: center;

                .boxImageIcone {
                    border: 2px solid $main;
                    padding: 15px;
                    display: block;
                    border-radius: 50%;
                    font-weight: bold;
                    color: $white;
                    background: $main;
                    cursor: pointer;
                    margin-inline: 10px;
                    transition: $transition1;

                    &:hover {
                        border: 2px solid $hover;
                        background: $hover;
                    }


                }
            }
        }

        .heroSlider2 {
            .boxSlider2 {
                display: none;
                flex-shrink: 0;
                margin-top: 110px;

                .boxItemImg {
                    .img {
                        width: 630px;
                        height: 360px;
                        object-fit: cover;
                        border-radius: 17px;
                        position: relative;
                        right: 199px;
                    }
                }
            }

            .boxIconSlider2 {
                display: none;
                align-items: center;
                position: absolute;
                right: 32px;
                top: 435px;
                justify-content: space-between;
                flex-direction: row-reverse;

                .boxImageIcone {
                    border: 2px solid $main;
                    padding: 15px;
                    display: block;
                    border-radius: 50%;
                    font-weight: bold;
                    color: $white;
                    background: $main;
                    cursor: pointer;
                    margin: 0 10px;
                    transition: $transition1;

                    &:hover {
                        border: 2px solid $hover;
                        background: $hover;
                    }
                }
            }
        }

        .image1 {
            width: 360px;
            position: absolute;
            top: 0;
            right: 580px;
            z-index: -1;
        }

        .goNextSection {
            border: 2px solid $text;
            border-radius: 50%;
            color: $text;
            padding: 15px;
            font-size: 23px;
            position: absolute;
            top: 105px;
            right: 575px;
            z-index: 1;
            cursor: pointer;
            transition: $transition1;

            &:hover {
                background: $text;
                color: $white;
            }
        }

        .image2 {
            position: absolute;
            background-image: url(images/img2.png);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 280px;
            top: 640px;
            right: 535px;
            width: 270px;
            height: 100px;
            display: flex;
            align-items: center;
            z-index: 1;

            .icon-arrow {
                border: 2px solid $text;
                color: $text;
                border-radius: 50%;
                padding: 5px;
                font-weight: bold;
                margin: 0 15px 10px 12px;
                cursor: pointer;
                transition: $transition1;
                z-index: 1;
                position: relative;

                &:hover {
                    color: $main2;
                    border: 2px solid $main2;
                }
            }

            &:hover {
                .icon-arrow {
                    color: $main2;
                    border: 2px solid $main2;
                }
            }

            .box-image2 {
                .titr-image2 {
                    margin: 0;
                }

                .text-image2 {
                    margin: 10px 0;
                    font-size: 13px;
                    line-height: 1.5;
                    color: $text;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 201px;
                    text-wrap: nowrap;
                }
            }
        }

        .textBox {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            position: relative;
            top: 17px;

            .content {
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .logo1 {
                    width: 175px;
                    margin-bottom: 40px;
                }

                .titrHome {
                    color: $main3;
                    text-align: center;
                    font-size: 29px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    margin: 15px 0;
                }

                .textHome {
                    text-align: justify;
                    line-height: 1.8;
                    margin-block: 15px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    color: $text;
                    font-size: 17px;
                }

                .boxCategories {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-block: 10px;
                    overflow-x: auto;
                    white-space: nowrap;
                    padding-bottom: 10px;
                    color: $text;
                    transition: $transition1;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #f6f6f6;
                    }

                    &::-webkit-scrollbar {
                        width: 1px;
                        height: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #c1c8d5;
                    }

                    .categories {
                        border: 2px solid $text;
                        border-radius: 10px;
                        padding: 5px;
                        width: 100%;
                        min-width: 120px;
                        max-width: 120px;
                        height: 120px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-inline: 5px;
                        cursor: pointer;
                        transition: $transition1;
                        color: $text;


                        &.addCategories {
                            border: 2px solid $main2;
                            color: $main2;
                        }

                        .icon-categories {
                            font-weight: normal;
                            font-size: 35px;
                        }

                        .text-categories {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            -webkit-line-clamp: 1;
                            text-align: center;
                        }

                        &:hover {
                            border: 2px solid $main2;

                            i,
                            p {
                                color: $main2;
                            }
                        }
                    }
                }

                .allCategories {
                    display: flex;
                    align-items: center;
                    color: $text;
                    margin-top: 10px;
                    transition: $transition1;

                    &:hover {

                        p,
                        i {
                            color: $main2;
                        }
                    }

                    p {
                        padding: 0 5px;
                        cursor: pointer;
                        transition: $transition1;
                    }
                }
            }
        }
    }
}



/////////////////Responsive///////////////////

@media screen and (max-width: 1440px) {
    section.hero {
        .card {
            .heroSlider1 {
                .boxSlider1 {
                    max-width: 560px;
                    max-height: 610px;

                    .boxItemImg {
                        .img {
                            height: 610px;
                        }
                    }
                }

                .boxIconSlider1 {
                    bottom: 55px;
                }
            }

            .goNextSection {
                right: 505px;
            }

            .image1 {
                width: 320px;
                right: 475px;
            }

            .image2 {
                top: 575px;
                right: 490px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    section.hero {
        .card {
            .heroSlider1 {
                .boxSlider1 {
                    max-width: 435px;
                    max-height: 473px;

                    .boxItemImg {
                        .img {
                            height: 520px;
                        }
                    }
                }

                .boxIconSlider1 {
                    bottom: 50px;
                    width: 100px;

                    .boxImageIcone {
                        margin-inline: 3px;
                        padding: 12px;
                    }
                }
            }

            .goNextSection {
                right: 385px;
                padding: 12px;
            }

            .image1 {
                width: 260px;
                right: 350px;
            }

            .image2 {
                background-size: 240px;
                height: 90px;
                top: 490px;
                right: 320px;
                width: 232px;

                .icon-arrow {
                    margin-right: 10px;
                }

                .box-image2 {
                    margin-bottom: 7px;

                    .titr-image2 {
                        font-size: 15px;
                    }

                    .text-image2 {
                        font-size: 12px;
                        margin-bottom: 0;
                        width: 174px;
                    }
                }
            }

            .textBox {
                .content {
                    width: 95%;

                    .titrHome {
                        font-size: 26px;
                    }

                    .textHome {
                        font-size: 15px;
                    }

                    .boxCategories {
                        width: 495px;
                        justify-content: flex-start;

                        .categories {
                            min-width: 115px;
                            height: 110px;
                        }

                        .text-categories {
                            font-size: 15px;
                        }
                    }

                    .allCategories {
                        font-size: 15px;
                    }
                }

            }

        }
    }
}

@media screen and (max-width: 768px) {
    section.hero {
        .card {
            flex-direction: column;

            .heroSlider1 {
                .boxSlider1 {
                    display: none;
                }

                .boxIconSlider1 {
                    display: none;
                }
            }

            .heroSlider2 {
                .boxSlider2 {
                    display: flex;
                    width: 768px;
                    margin-top: 60px;
                }

                .boxIconSlider2 {
                    display: flex;

                    .boxImageIcone {
                        margin-inline: 3px;
                        padding: 12px;
                    }
                }
            }

            .textBox {
                top: 120px;

                .content {
                    width: 100%;

                    .logo1 {
                        margin-right: -60px;
                    }

                    .boxCategories {
                        width: 650px;
                    }
                }
            }

            .image2 {
                top: 390px;
                right: 400px;
            }

            .image1 {
                right: 30px;
                top: 420px;
            }

            .goNextSection {
                right: 432px;
                padding: 11px;
                top: 535px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    section.hero {
        .card {
            .image2 {
                display: none;
            }

            .image1 {
                right: inherit;
                top: 444px;
                left: 222px;
            }

            .heroSlider2 {
                .boxSlider2 {
                    display: flex;
                    width: 425px;
                    // margin-top: 60px;

                    .boxItemImg {
                        .img {
                            width: 343px;
                            right: 112px;
                        }
                    }
                }
            }

            .goNextSection {
                right: 265px;
            }

            .textBox {
                .content {
                    .boxCategories {
                        width: 375px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    section.hero {
        .card {
            .heroSlider2 {
                .boxSlider2 {
                    width: 375px;

                    .boxItemImg {
                        .img {
                            width: 303px;
                            height: 290px;
                            right: 100px;
                        }
                    }
                }

                .boxIconSlider2 {
                    top: 370px;
                    right: 25px;

                    .boxImageIcone {
                        padding: 10px;
                    }
                }
            }

            .image1 {
                top: 440px;
                left: 140px;
            }

            .goNextSection {
                right: 237px;
                padding: 9px;
                top: 465px;
            }

            .textBox {
                .content {
                    .logo1 {
                        width: 163px;
                        margin-right: -53px;
                    }

                    .titrHome {
                        font-size: 23px;
                        -webkit-line-clamp: 2;
                        line-height: 1.5;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    section.hero {
        .card {
            .heroSlider2 {
                .boxSlider2 {
                    width: 320px;

                    .boxItemImg {
                        .img {
                            width: 262px;
                            height: 260px;
                            right: 83px;
                        }
                    }
                }

                .boxIconSlider2 {
                    top: 335px;
                    right: 15px;
                }
            }

            .image1 {
                top: 340px;
                left: 135px;
            }

            .goNextSection {
                right: 207px;
                top: 435px;
                padding: 8px;
            }

            .textBox {
                .content {
                    .boxCategories {
                        width: 320px;

                        .categories {
                            min-width: 102.5px;
                            height: 95px;
                            margin-inline: 2px;
                        }
                    }
                }
            }
        }
    }
}