.products_list {
    .cardBox {
        margin-top: 150px;

        .main_card {
            display: flex;
            justify-content: space-between;

            .filterBtn {
                position: relative;
                top: -15px;
                right: 80px;
                width: 160px;
                height: 50px;
                text-align: center;
                display: none;
                cursor: pointer;
                transform: translateX(30px);
                transition: all 0.3s;

                .shape {
                    stroke-dasharray: 100 300;
                    stroke-dashoffset: -297;
                    fill: transparent;
                    stroke: #3d3c45;
                    stroke-width: 5px;
                    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
                }

                .text {
                    font-size: 17px;
                    top: -42PX;
                    position: relative;
                    color: #000;
                }

                &:hover {
                    background-color: #3d3c45;
                    transition: 1s;
                    transform: translateX(0px);

                    .shape {
                        stroke-width: 2px;
                        stroke-dashoffset: 0;
                        stroke-dasharray: 760;
                    }

                    .text {
                        color: #fff;
                    }
                }
            }

            .filter_card {
                width: 385px;
                // background: #eaedf252;
                border-radius: 20px 0 0 20px;

                .card {
                    position: sticky;
                    top: 110px;

                    >.title {
                        color: #3d3c45;
                        font-size: 23px;
                        font-weight: 300;
                        text-align: center;
                        border-bottom: 2px solid #fff;
                        padding-block: 22px;
                    }

                    .items {
                        .item {
                            overflow: hidden;
                            transition: all 0.3s;
                            border-bottom: 2px solid #fff;

                            &.active {
                                .head {
                                    .icon {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            .head {
                                color: #fff;
                                background: #3d3c45;
                                font-size: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-block: 20px;
                                padding-inline: 25px;
                                cursor: pointer;
                                border-radius: 10px 0 0 10px;
                                border-bottom: 2px solid #eaeaea;
                                position: relative;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 14px;
                                    height: 14px;
                                    background: #3d3c45;
                                    right: 30px;
                                    bottom: -7px;
                                    transform: rotate(45deg);
                                }

                                .icon-first {
                                    margin-left: 10px;
                                    font-size: 23px;
                                }

                                .icon {
                                    font-size: 23px;
                                    margin-right: auto;
                                    transition: all 0.3s;
                                }
                            }

                            .box {
                                padding-inline: 35px;
                                padding-top: 20px;
                                transition: all 0.5s;

                                li {
                                    display: flex;
                                    padding-bottom: 25px;
                                    position: relative;
                                    align-items: flex-end;

                                    &::before {
                                        content: "";
                                        width: 4px;
                                        height: 35px;
                                        position: absolute;
                                        background: #cf5241;
                                        right: -20px;
                                        top: -3px;
                                        transition: all 0.3s;
                                        opacity: 0;
                                    }

                                    &:hover {
                                        &::before {
                                            opacity: 1;
                                        }

                                        .title {
                                            color: #cf5241;
                                        }

                                        .checkBox {
                                            box-shadow: 0px 0px 0px 2px #cf5241;
                                        }
                                    }

                                    &.checked {
                                        &::before {
                                            opacity: 1;
                                        }

                                        .title {
                                            color: #cf5241;
                                        }

                                        .checkBox {
                                            box-shadow: 0px 0px 0px 2px #cf5241;
                                        }
                                    }



                                    &:last-child {
                                        padding-bottom: 40px;
                                    }

                                    .title {
                                        color: #3d3c45;
                                        font-size: 18px;
                                        flex: 1;
                                        cursor: default;
                                    }

                                    .checkBox {
                                        display: block;
                                        cursor: pointer;
                                        width: 26px;
                                        height: 26px;
                                        border: 3px solid rgba(255, 255, 255, 0);
                                        border-radius: 7px;
                                        position: relative;
                                        overflow: hidden;
                                        -webkit-appearance: none;
                                        background-color: #fff;
                                        box-shadow: 0px 0px 0px 2px #e9eef6;

                                        .transition {
                                            width: 60px;
                                            height: 60px;
                                            background-color: #cf5241;
                                            top: -52px;
                                            left: -52px;
                                            position: absolute;
                                            transform: rotateZ(45deg);
                                            z-index: 100;
                                            transition: 300ms ease;
                                        }

                                        input[type=checkbox]:checked {
                                            box-shadow: 0px 0px 0px 2px #cf5241;
                                        }

                                        input[type=checkbox]:checked+.transition {
                                            left: -10px;
                                            top: -10px;
                                        }

                                        input[type=checkbox] {
                                            position: absolute;
                                            left: 50px;
                                            visibility: hidden;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .products {
                flex: 1;
                background-color: #fff;

                .items {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    position: relative;
                    justify-items: center;

                    .item {
                        width: 100%;
                        min-width: 350px;
                        max-width: 290px;
                        height: 420px;
                        margin: 10px;
                        position: relative;
                        min-height: 455px;
                        border-radius: 18px;
                        border: 2px solid #f3f7fe;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            background: rgb(255, 255, 255);
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, rgb(0, 0, 0) 100%);
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 18px;
                            transform: translateY(180px);
                            transition: all 0.3s;
                            filter: contrast(0.5);
                        }

                        .main_image {
                            position: relative;
                            text-align: center;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 18px;
                                -o-object-fit: cover;
                                object-fit: cover;
                                transition: all 0.6s;
                            }
                        }

                        .main_info {
                            width: 100%;
                            margin-top: 25px;
                            padding-inline: 20px;
                            z-index: 2;

                            .topDiscount {
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 5px;
                                margin-bottom: 12px;
                                position: absolute;
                                bottom: 90px;

                                .name {
                                    color: #fff;
                                    display: -webkit-box;
                                    flex: 1;
                                    font-size: 18px;
                                    z-index: 2;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    transform: translateY(80px);
                                    transition: all 0.4s;
                                }
                            }

                            .bottomDiscount {
                                flex-direction: column;
                                transform: translateY(155px);
                                transition: all 0.4s;
                                align-items: center;
                                bottom: 25px;
                                display: flex;
                                gap: 10px;
                                justify-content: space-between;
                                margin-top: 20px;
                                padding-inline: 20px;
                                position: absolute;
                                right: 0;
                                z-index: 2;
                                width: 100%;

                                .right {
                                    padding: 12px;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    display: flex;
                                    width: 100%;
                                    line-height: 1.5;
                                    align-items: center;

                                    .titel {
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        flex-direction: column;
                                        line-height: 1.7;

                                        .titleMain {
                                            font-size: 13px;
                                        }

                                        .titleDiscount {
                                            font-size: 14px;
                                        }
                                    }

                                    .price {
                                        line-height: 1.7;

                                        p {
                                            display: flex;

                                            span {
                                                color: #9f9f9f;
                                                font-size: 13px;
                                                font-weight: 100;
                                                margin-right: 7px;
                                            }
                                        }

                                        .priceMain {
                                            font-size: 14px;
                                            color: #3db178;
                                            display: flex;
                                        }

                                        .priceDiscount {
                                            font-size: 15px;
                                            color: #cf5241;
                                            display: flex;

                                            span {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }

                                .link {
                                    width: 100%;
                                    text-align: center;
                                    padding: 16px 12px;
                                    font-size: 12px;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    transition: all .3s;
                                }
                            }

                            .bottom_nonExistent {
                                bottom: 25px;
                                padding-inline: 20px;
                                position: absolute;
                                right: 0;
                                z-index: 2;
                                width: 100%;
                                color: #919098;
                                transform: translateY(85px);
                                transition: all 0.3s;

                                .link {
                                    padding: 14px 12px;
                                    font-size: 16px;
                                    background-color: #fff;
                                    color: #cf5241;
                                    border: 1px solid #cf5241;
                                    border-radius: 10px;
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: row-reverse;
                                    cursor: default;
                                    transition: all 0.3s;

                                    .icon-nonExistent {
                                        font-size: 16px;
                                        margin-left: 5px;
                                    }

                                }
                            }

                            .top {
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 5px;
                                margin-bottom: 12px;
                                position: absolute;
                                bottom: 90px;

                                .name {
                                    color: #fff;
                                    display: -webkit-box;
                                    flex: 1;
                                    font-size: 18px;
                                    z-index: 2;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    transform: translateY(80px);
                                    transition: all 0.3s;
                                }
                            }

                            .bottom {
                                align-items: center;
                                bottom: 25px;
                                display: flex;
                                gap: 10px;
                                justify-content: space-between;
                                margin-top: 20px;
                                padding-inline: 20px;
                                position: absolute;
                                right: 0;
                                z-index: 2;
                                width: 100%;
                                transform: translateY(85px);
                                transition: all 0.3s;

                                .right {
                                    padding: 15px 12px;
                                    align-items: center;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    display: flex;
                                    flex: 1;
                                    justify-content: space-between;

                                    p {
                                        &.title {
                                            font-size: 12px;
                                        }

                                        &.price {
                                            font-size: 14px;
                                            align-items: center;
                                            color: #3db178;
                                            display: flex;
                                            font-weight: 200;

                                            span {
                                                color: #9f9f9f;
                                                font-size: 13px;
                                                font-weight: 100;
                                                margin-right: 7px;
                                            }
                                        }
                                    }
                                }

                                .link {
                                    padding: 16px 12px;
                                    font-size: 12px;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    font-weight: 200;
                                    transition: all .3s;
                                }
                            }
                        }

                        &:hover {
                            &::after {
                                transform: translateY(100px);
                            }

                            .main_info {
                                .top {
                                    .name {
                                        font-size: 20px;
                                        transform: translateY(10px);
                                    }
                                }

                                .topDiscount {
                                    .name {
                                        font-size: 20px;
                                        transform: translateY(-60px);
                                    }
                                }

                                .bottom_nonExistent {
                                    transform: translateY(5px);
                                }

                                .bottom,
                                .bottomDiscount {
                                    transform: translateY(5px);

                                    .link:hover {
                                        background-color: #cf5241;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .modalFilter {
                background: #fff;
                height: 83%;
                width: 290px;
                position: fixed;
                right: 0;
                top: 70px;
                transform: translateX(290px);
                transition: all 0.3s;
                z-index: 3;

                .box-filter {
                    position: sticky;
                    height: 100%;
                    overflow-y: auto;
                    direction: ltr;


                    >.title {
                        color: #3d3c45;
                        font-size: 23px;
                        font-weight: 300;
                        text-align: right;
                        border-bottom: 2px solid #fff;
                        padding: 10px 12px 22px;
                    }

                    .items {
                        .item {
                            overflow: hidden;
                            transition: all 0.3s;
                            border-bottom: 2px solid #fff;

                            &.active {
                                .head {
                                    .icon {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            .head {
                                color: #fff;
                                background: #3d3c45;
                                font-size: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding-block: 20px;
                                padding-inline: 25px;
                                cursor: pointer;
                                border-radius: 10px 0 0 10px;
                                border-bottom: 2px solid #eaeaea;
                                position: relative;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 14px;
                                    height: 14px;
                                    background: #3d3c45;
                                    right: 30px;
                                    bottom: -7px;
                                    transform: rotate(45deg);
                                }

                                .icon-first {
                                    margin-left: 10px;
                                    font-size: 23px;
                                }

                                .icon {
                                    font-size: 23px;
                                    margin-right: auto;
                                    transition: all 0.3s;
                                }
                            }

                            .box {
                                padding-inline: 35px;
                                padding-top: 20px;
                                transition: all 0.5s;

                                li {
                                    display: flex;
                                    padding-bottom: 25px;
                                    position: relative;
                                    align-items: flex-end;

                                    &::before {
                                        content: "";
                                        width: 4px;
                                        height: 35px;
                                        position: absolute;
                                        background: #cf5241;
                                        right: -20px;
                                        top: -3px;
                                        transition: all 0.3s;
                                        opacity: 0;
                                    }

                                    &:hover {
                                        &::before {
                                            opacity: 1;
                                        }

                                        .title {
                                            color: #cf5241;
                                        }

                                        .checkBox {
                                            box-shadow: 0px 0px 0px 2px #cf5241;
                                        }
                                    }

                                    &.checked {
                                        &::before {
                                            opacity: 1;
                                        }

                                        .title {
                                            color: #cf5241;
                                        }

                                        .checkBox {
                                            box-shadow: 0px 0px 0px 2px #cf5241;
                                        }
                                    }



                                    &:last-child {
                                        padding-bottom: 40px;
                                    }

                                    .title {
                                        color: #3d3c45;
                                        font-size: 18px;
                                        flex: 1;
                                        cursor: default;
                                    }

                                    .checkBox {
                                        display: block;
                                        cursor: pointer;
                                        width: 26px;
                                        height: 26px;
                                        border: 3px solid rgba(255, 255, 255, 0);
                                        border-radius: 7px;
                                        position: relative;
                                        overflow: hidden;
                                        -webkit-appearance: none;
                                        background-color: #fff;
                                        box-shadow: 0px 0px 0px 2px #e9eef6;

                                        .transition {
                                            width: 60px;
                                            height: 60px;
                                            background-color: #cf5241;
                                            top: -52px;
                                            left: -52px;
                                            position: absolute;
                                            transform: rotateZ(45deg);
                                            z-index: 100;
                                            transition: 300ms ease;
                                        }

                                        input[type=checkbox]:checked {
                                            box-shadow: 0px 0px 0px 2px #cf5241;
                                        }

                                        input[type=checkbox]:checked+.transition {
                                            left: -10px;
                                            top: -10px;
                                        }

                                        input[type=checkbox] {
                                            position: absolute;
                                            left: 50px;
                                            visibility: hidden;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .chooseItemFilter {
                        margin-block: 20px;
                        padding-inline: 13px;
                        padding-bottom: 20px;
                        flex-direction: column;
                        border-bottom: 2px dashed #cbcbcb;

                        h6 {
                            font-size: 17px;
                            margin-bottom: 20px;
                        }

                        .boxItemChoose {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            justify-items: start;

                            .itemChoose {
                                border: 1.9px dashed #cf5241;
                                border-radius: 10px;
                                margin-bottom: 10px;
                                padding: 5px 10px;
                                background: #eaedf252;
                                display: flex;

                                .icon-remove {
                                    margin-left: 5px;
                                    color: #cf5241;
                                    cursor: pointer;

                                    &:hover {
                                        background: #eaedf252;
                                    }
                                }
                            }
                        }
                    }

                }

                &.active {
                    transform: translateX(0);
                }
            }

            .showColor {
                position: relative;
                right: -10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-bottom: 2px;
                border: 1px solid #eaeaea;
            }

        }

        .chooseItemFilter {
            width: 78%;
            display: flex;
            align-items: center;
            position: relative;
            right: 405px;
            margin: 0 0 20px;

            h6 {
                font-size: 17px;
                margin-left: 10px;
            }

            .boxItemChoose {
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
                padding-block: 10px;
                width: 92%;

                &::-webkit-scrollbar-track {
                    padding: 2px 0;
                    background-color: #f6f6f6;
                }

                &::-webkit-scrollbar {
                    width: 1px;
                    height: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #c1c8d5;
                }

                .itemChoose {
                    border: 1.9px dashed #cf5241;
                    border-radius: 10px;
                    margin-left: 10px;
                    padding: 5px 10px;
                    background: #eaedf252;
                    display: flex;


                    .icon-remove {
                        margin-left: 5px;
                        color: #cf5241;
                        cursor: pointer;

                        &:hover {
                            background: #eaedf252;
                        }
                    }
                }
            }
        }
    }
}

.overlay {
    background: rgba(0, 0, 0, .55);
    inset: 0;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: 3;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}


/////////////////Responsive///////////////////

// @media screen and (max-width: 2560px) {
//     .products_list {
//         .cardBox {
//             .chooseItemFilter {
//                 right: 470px;
//             }
//         }
//     }
// }

@media screen and (max-width: 1440px) {
    .products_list {
        .cardBox {
            .chooseItemFilter {
                right: 340px;
                width: 75%;

                .boxItemChoose {
                    width: 89%;
                }
            }

            .main_card {
                .products {
                    .items {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .products_list {
        .cardBox {
            .chooseItemFilter {
                right: 300px;
                width: 70%;

                .boxItemChoose {
                    width: 84%;
                }
            }

            .main_card {
                .products {
                    .items {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .products_list {
        .cardBox {
            .chooseItemFilter {
                display: none;
            }

            .main_card {
                flex-direction: column;

                .filterBtn {
                    display: block;

                    .shape {
                        stroke-dasharray: 66 142;
                        stroke-dashoffset: 80;
                        width: 100%;
                    }
                }

                .filter_card {
                    display: none;
                }

                .modalFilter {
                    .box-filter {
                        .chooseItemFilter {
                            display: flex !important;
                            right: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 425px) {
    .products_list {
        .cardBox {
            .main_card {
                .products {
                    .items {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }

                .filterBtn {
                    right: 40px;
                    width: 81%;
                    transform: none;

                    svg {
                        width: 100%;

                        .shape {
                            width: 100%;
                            stroke-dasharray: 100 300;
                            stroke-dashoffset: -297;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .products_list {
        .cardBox {
            .main_card {
                .products {
                    .items {
                        .item {
                            .main_info {
                                .bottom {
                                    flex-direction: column;
                                    transform: translateY(140px);

                                    .right {
                                        width: 100%;
                                    }

                                    .link {
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                            }

                            &:hover {
                                .main_info {
                                    .top {
                                        bottom: 140px;
                                    }
                                }
                            }
                        }
                    }
                }

                .filterBtn {
                    right: 14px;
                    width: 92%;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .products_list {
        .cardBox {
            .main_card {
                .filterBtn {
                    right: 6px;
                    width: 97%;

                    svg {
                        .shape {
                            stroke-dasharray: 102 261;
                            stroke-dashoffset: -260;
                        }
                    }
                }

                .products {
                    .items {
                        .item {
                            min-width: 315px;
                            min-height: 410px;
                            height: 410px;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}