@import '../../../base/setting.scss';

/*------------Relationship Paage-------------*/

.contactUs {

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-block: 135px;

        .titr-contactUs {
            color: $main3;
            font-size: 40px;
            margin: 0 auto;
        }

        .content-contactUs {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 50px;

            .comment_form {
                position: sticky;
                top: 120px;
                background-color: #f5f7fa;
                padding: 15px;
                border-radius: 15px;
                width: 26%;
                height: max-content;

                .input_box {
                    margin-bottom: 15px;

                    input,
                    select,
                    textarea {
                        width: 100%;
                        color: $main;
                        font-family: dana, sans-serif;
                        font-size: 15px;
                        border: 2px solid $white;
                        transition: all 0.3s;
                        padding: 15px 12px;
                        border-radius: 10px;
                        background-color: $white;

                        &:focus {
                            border: 2px solid $main;
                        }
                    }

                    textarea {
                        resize: none;
                        height: 120px;
                        overflow: auto;
                    }
                }

                .input_box.bottom {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $white;
                    border-radius: 10px;
                    width: max-content;
                    margin-inline: auto;
                    height: 50px;

                    .code {
                        padding-inline: 5px;
                        mix-blend-mode: multiply;
                        width: 60px;
                        border-left: 1px dashed $main;
                    }

                    input {
                        width: 90px;
                        padding-block: 13px;
                        font-size: 13px;
                        padding-inline: 0;
                        text-align: center;
                        margin-right: 2px;
                    }
                }

                .submit {
                    width: 100%;
                    cursor: pointer;
                    background-color: $main;
                    border: none;
                    color: $white;
                    font-size: 16px;
                    padding-block: 18px;
                    border-radius: 10px;
                    transition: all 0.3s;


                    &:hover {
                        background-color: $main2;
                    }
                }
            }

            .main_info {
                background-color: #fbfbfb;
                border-radius: 15px;
                padding: 20px;
                margin-right: 10px;
                width: 74%;

                .box {
                    li {
                        color: $main;
                        font-size: 17px;
                        margin-bottom: 25px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;

                        span {
                            color: $text;
                            font-size: 16px;
                        }
                    }
                }

                .social_media {
                    display: flex;
                    align-items: flex-end;
                    margin-top: 30px;

                    .title {
                        color: $main;
                        font-size: 17px;
                    }

                    .elem {
                        display: flex;
                        align-items: center;

                        .link {
                            font-size: 22px;
                            margin-inline: 10px;
                            transition: all 0.3s;

                            &:hover {
                                color: $main2;
                            }
                        }
                    }
                }

                .location {
                    margin-top: 35px;

                    iframe {
                        width: 90%;
                        margin-inline: auto;
                        display: block;
                        border-radius: 10px;
                        height: 333px;
                    }
                }
            }
        }
    }
}