@import "../../../base/setting.scss";

/*-----------------section-blog--------------------*/
.show-blog {
    .card {
        margin-block: 150px;

        .titr-showBlog {
            color: #283347;
            font-size: 40px;
            text-align: center;
        }

        .blog {
            display: flex;

            .sidebar {
                width: 370px;
                border-radius: 15px;
                position: relative;
                z-index: 2;
                margin-top: 65px;

                .box {
                    height: 800px;
                    overflow-y: auto;
                    direction: ltr;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #e2e1e1;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #283347;
                        border-radius: 5px;
                    }

                    li {
                        display: flex;
                        justify-content: space-between;
                        padding-block: 23px;
                        align-items: center;
                        border-bottom: 1px solid #fff;
                        margin-inline: 18px;
                        direction: rtl;
                        background-color: #fff;
                        // background-color: #f6f8fc;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: unset;
                        }

                        &:hover {
                            span {
                                color: #283347;
                            }
                        }

                        &.active {
                            position: sticky;
                            top: 0;
                            border-color: #3d3c45;

                            span {
                                color: #3d3c45;
                            }
                        }

                        a {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            span {
                                color: #abb5c6;
                                transition: all 0.3s;

                                &.title {
                                    font-size: 15px;
                                }

                                &.icon {
                                    width: 20px;
                                    font-size: 25px;
                                }
                            }

                        }
                    }
                }
            }

            .items-blog {
                width: 73%;
                display: grid;
                justify-items: end;
                grid-gap: 25px;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 60px;
                overflow-x: auto;
                padding-bottom: 10px;

                .itemBlog {
                    width: 375px;
                    min-height: 430px;
                    padding-inline: 5px;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background: $bg;
                    margin: 10px;
                    box-shadow: -2px 3px 8px 1px rgba(0, 0, 0, 0.169);

                    &:hover {
                        .textBox-blog {
                            .sarTitr-blog {
                                span {
                                    color: $main2;
                                }
                            }
                        }
                    }

                    .box-imgBlog {
                        width: 355px;
                        height: 290px;
                        margin-top: 10px;
                        border-radius: 20px 20px 0 0;
                        overflow: hidden;

                        .imgBlog {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .textBox-blog {
                        padding-inline: 10px;
                        padding-bottom: 10px;

                        .sarTitr-blog {
                            font-size: 17px;
                            margin: 20px 0 10px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;

                            span {
                                transition: all 0.3s;
                                color: $main3;

                                &:hover {
                                    color: $main2;
                                }
                            }
                        }

                        .text {
                            text-align: justify;
                            font-size: 14px;
                            line-height: 1.7;
                            color: $text;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 5;
                            margin-bottom: 20px;
                        }

                        .linkBlog {
                            display: flex;
                            align-items: center;

                            .item-linkBlog {
                                border-radius: 10px;
                                width: 60px;
                                height: 28px;
                                display: flex;
                                color: $text;
                                background: #f2f2f2;
                                justify-content: center;
                                align-items: center;
                                font-size: 12px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        .filter {
            .filterBtn {
                position: relative;
                top: 30px;
                right: 45px;
                width: 160px;
                height: 50px;
                text-align: center;
                display: none;
                cursor: pointer;
                transform: translateX(30px);
                transition: all 0.3s;

                .shape {
                    stroke-dasharray: 100 300;
                    stroke-dashoffset: -297;
                    fill: transparent;
                    stroke: #3d3c45;
                    stroke-width: 5px;
                    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
                }

                .text {
                    font-size: 17px;
                    top: -42PX;
                    position: relative;
                    color: #000;
                }

                &:hover {
                    background-color: #3d3c45;
                    transition: 1s;
                    transform: translateX(20px);

                    .shape {
                        stroke-width: 2px;
                        stroke-dashoffset: 0;
                        stroke-dasharray: 760;
                    }

                    .text {
                        color: #fff;
                    }
                }
            }

            .modalFilter {
                background-color: #f8fafe;
                height: 83%;
                width: 260px;
                position: fixed;
                right: 0;
                top: 70px;
                transform: translateX(30rem);
                transition: all 0.3s;
                z-index: 51;

                .box {
                    height: 800px;
                    padding-bottom: 125px;
                    overflow-y: auto;
                    direction: ltr;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #e2e1e1;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #283347;
                        border-radius: 5px;
                    }

                    li {
                        display: flex;
                        justify-content: space-between;
                        padding-block: 23px;
                        align-items: center;
                        border-bottom: 1px solid #e9eef6;
                        margin-inline: 18px;
                        direction: rtl;
                        background-color: #fbfbfb;
                        // background-color: #f6f8fc;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: unset;
                        }

                        &:hover {
                            span {
                                color: #283347;
                            }
                        }

                        &.active {
                            position: sticky;
                            top: 0;
                            border-color: #3d3c45;

                            span {
                                color: #3d3c45;
                            }
                        }

                        a {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            span {
                                color: #abb5c6;
                                transition: all 0.3s;

                                &.title {
                                    font-size: 15px;
                                }

                                &.icon {
                                    width: 20px;
                                    font-size: 25px;
                                }
                            }

                        }
                    }
                }

                &.active {
                    transform: translateX(0);
                }
            }
        }
    }
}

.overlay {
    background: rgba(0, 0, 0, .55);
    inset: 0;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: 50;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}


/////////////////Responsive///////////////////

@media screen and (max-width: 768px) {
    .show-blog {
        .card {
            .filter {
                .filterBtn {
                    display: block;

                    .shape {
                        stroke-dasharray: 66 142;
                        stroke-dashoffset: 80;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .show-blog {
        .card {
            .filter {
                .filterBtn {
                    right: -6px;
                    width: 85%;
                    transform: none !important;

                    svg {
                        width: 100%;

                        .shape {
                            width: 100%;
                            stroke-dasharray: 79 295;
                            stroke-dashoffset: -285;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .show-blog {
        .card {
            .filter {
                .filterBtn {
                    right: 0;
                    width: 92%;

                    svg {
                        .shape {
                            stroke-dasharray: 95 267;
                            stroke-dashoffset: -260;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .show-blog {
        .card {
            .filter {
                .filterBtn {
                    right: 0;
                    width: 97%;

                    svg {
                        .shape {
                            stroke-dasharray: 65 266;
                            stroke-dashoffset: -247;
                        }
                    }
                }
            }
        }
    }
}