@import "../../../base/setting.scss";

/*-----------------section-blog--------------------*/
.show-blog {
    .card {
        margin-block: 150px;
        overflow: hidden;

        .titr-showBlog {
            @media screen and (max-width: 320px) {
                font-size: 32px;
            }

            color: #283347;
            font-size: 40px;
        }

        .blog {
            display: flex;
            justify-content: center;

            .sidebar {
                margin-top: 75px;

                .box {
                    height: 800px;
                    overflow-y: auto;
                    direction: ltr;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #e2e1e1;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #283347;
                        border-radius: 5px;
                    }

                    .itemSlider {
                        display: flex;
                        justify-content: space-between;
                        padding-block: 23px;
                        align-items: center;
                        border-bottom: 1px solid #f1f1f1;
                        margin-inline: 18px;
                        background-color: #fff;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: unset;
                        }

                        &:hover {
                            .link {

                                .title,
                                .icon {
                                    color: #283347;
                                }
                            }
                        }

                        &.active {
                            position: sticky;
                            top: 0;
                            border-color: #3d3c45;

                            .link {

                                .title,
                                .icon {
                                    color: #3d3c45;
                                }
                            }
                        }

                        .link {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .title {
                                color: #abb5c6;
                                transition: all 0.3s;
                                font-size: 16px;
                            }

                            .icon {
                                color: #abb5c6;
                                transition: all 0.3s;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }

            .items-blog {
                @media screen and (max-width: 1440px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media screen and (max-width: 425px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                display: grid;
                justify-items: end;
                grid-gap: 25px;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 60px;

                .itemBlog {
                    width: 100%;
                    min-width: 300px;
                    max-width: 380px;
                    min-height: 430px;
                    padding-inline: 5px;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background: $bg;
                    overflow: hidden;
                    margin-block: 5px;
                    box-shadow: 0 0 20px -15px rgba(0, 0, 0, 0.6901960784);


                    &:hover {
                        .textBox-blog {
                            .sarTitr-blog {
                                span {
                                    color: $main2;
                                }
                            }
                        }
                    }

                    .box-imgBlog {
                        @media screen and (max-width: 1024px) {
                            height: 255px;
                        }

                        @media screen and (max-width: 320px) {
                            height: 230px;
                        }

                        width: 98%;
                        height: 290px;
                        margin-top: 10px;
                        border-radius: 20px 20px 0 0;
                        overflow: hidden;

                        .imgBlog {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .textBox-blog {
                        padding-inline: 10px;
                        padding-bottom: 10px;
                        width: 100%;

                        .sarTitr-blog {
                            font-size: 17px;
                            margin: 20px 0 10px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;

                            .titr {
                                transition: all 0.3s;
                                color: $main3;

                                &:hover {
                                    color: $main2;
                                }
                            }
                        }

                        .text {
                            text-align: justify;
                            font-size: 14px;
                            line-height: 1.7;
                            color: $text;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 5;
                            margin-bottom: 20px;
                        }

                        .linkBlog {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            width: 100%;
                            overflow-x: auto;
                            white-space: nowrap;
                            padding-bottom: 10px;

                            &::-webkit-scrollbar-track {
                                padding: 2px 0;
                                background-color: #f6f6f6;
                            }

                            &::-webkit-scrollbar {
                                width: 1px;
                                height: 3px;
                            }

                            &::-webkit-scrollbar-thumb {
                                border-radius: 10px;
                                background-color: #c1c8d5;
                            }

                            .item-linkBlog {
                                border-radius: 10px;
                                padding: 8px 15px;
                                display: flex;
                                color: $text;
                                background: #f2f2f2;
                                justify-content: center;
                                align-items: center;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .filter {
            .filterBtn {
                @media screen and (max-width: 425px) {
                    width: 78%;
                    transform: none !important;
                }

                @media screen and (max-width: 375px) {
                    width: 89%;
                    right: 20px;
                }

                @media screen and (max-width: 320px) {
                    right: 12px;
                    width: 92%;
                }

                position: relative;
                top: 30px;
                right: 45px;
                width: 160px;
                height: 50px;
                text-align: center;
                display: none;
                cursor: pointer;
                transform: translateX(30px);
                transition: all 0.3s;

                svg {
                    @media screen and (max-width: 425px) {
                        width: 100%;
                    }

                    .shape {
                        @media screen and (max-width: 768px) {
                            stroke-dasharray: 66 142;
                            stroke-dashoffset: 80;
                            width: 100%;
                        }

                        @media screen and (max-width: 425px) {
                            stroke-dasharray: 65 295;
                            stroke-dashoffset: -285;
                        }

                        @media screen and (max-width: 375px) {
                            stroke-dasharray: 105 280;
                            stroke-dashoffset: -260;
                        }

                        @media screen and (max-width: 320px) {
                            stroke-dasharray: 30 290;
                        }

                        stroke-dasharray: 100 300;
                        stroke-dashoffset: -297;
                        fill: transparent;
                        stroke: #3d3c45;
                        stroke-width: 5px;
                        transition: stroke-width 1s,
                        stroke-dashoffset 1s,
                        stroke-dasharray 1s;
                    }

                }

                .text {
                    font-size: 17px;
                    top: -42PX;
                    position: relative;
                    color: #000;
                }

                &:hover {
                    background-color: #3d3c45;
                    transition: 1s;
                    transform: translateX(20px);

                    svg {
                        .shape {
                            stroke-width: 2px;
                            stroke-dashoffset: 0;
                            stroke-dasharray: 760;
                        }
                    }

                    .text {
                        color: #fff;
                    }
                }
            }

            .modalFilter {
                background-color: #f8fafe;
                height: 83%;
                width: 260px;
                position: fixed;
                right: 0;
                top: 70px;
                transform: translateX(30rem);
                transition: all 0.3s;
                z-index: 51;
                overflow: hidden;

                .box {
                    height: 800px;
                    padding-bottom: 125px;
                    overflow-y: auto;
                    direction: ltr;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #e2e1e1;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #283347;
                        border-radius: 5px;
                    }

                    .itemSlider {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-block: 23px;
                        align-items: center;
                        border-bottom: 1px solid #e9eef6;
                        margin-inline: 18px;
                        direction: rtl;
                        background-color: #fbfbfb;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: unset;
                        }

                        &:hover {
                            .link {

                                .title,
                                .icon {
                                    color: #283347;
                                }
                            }
                        }

                        &.active {
                            position: sticky;
                            top: 0;
                            border-color: #3d3c45;

                            .link {

                                .title,
                                .icon {
                                    color: #3d3c45;
                                }
                            }
                        }

                        .link {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .title {
                                color: #abb5c6;
                                transition: all 0.3s;
                                font-size: 15px;
                            }

                            .icon {
                                color: #abb5c6;
                                transition: all 0.3s;
                                width: 20px;
                                font-size: 23px;
                            }
                        }

                        .submenu {
                            overflow: hidden;
                            max-height: 0;
                            width: 100%;
                            text-align: center;
                            transition: max-height 0.3s ease;

                            .item-submenu {
                                padding: 12px;
                                background-color: #3d3c45;
                                color: #fff;
                                font-size: 13px;
                                border-bottom: 2px solid;
                                border-radius: 5px;

                                &:hover {
                                    background-color: $hover;
                                }
                            }
                        }
                    }
                }

                &.active {
                    transform: translateX(0);
                }
            }
        }
    }
}