@import "../../Public/index.scss";

/*------------------keyframes--------------------*/


@-moz-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
}

@-o-keyframes fadeEffect {
    from {
        opacity: 0;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
}

/*------------------section home--------------------*/

#section-home,
#section-pageOne,
#section-pageTwo,
#section-pageThree,
#section-pageFour {
    overflow: hidden;
}

#section-pageOne,
#section-pageTwo,
#section-pageThree,
#section-pageFour {
    background: #f8fafd;
}

#section-pageTwo,
#section-pageFour {
    margin-top: -130px;
}

.boxContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

img {
    width: 100%;
    height: auto;
}

#section-home {
    .boxContent {
        #imageSlider {
            display: flex;
            -webkit-mask-image: url("../../../../../public/img/main-page/slider-home/hero.svg");
            mask-image: url("../../../../../public/img/main-page/slider-home/hero.svg");
            mask-size: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            min-width: 100px;
            max-width: 630px;
            height: 100%;
            min-height: 100px;
            max-height: 700px;
            flex-shrink: 0;
            margin-top: 90px;

            .boxImage {
                height: 700px;
            }
        }
    }
}

#section-pageTwo {
    .boxImage {
        -webkit-mask-image: url("../../../../../public/img/main-page/section-two/hero2.svg");
        mask-image: url("../../../../../public/img/main-page/section-two/hero2.svg");
        mask-size: 102%;
        object-fit: cover;
        width: 100%;
        min-width: 711.5px;
        max-width: 700px;
        height: 845px;
        position: relative;
        left: 50px;
        top: -55px;
        flex-shrink: 0;
    }

    .image2 {
        position: absolute;
        background-image: url("../../../../../public/img/main-page/other/img2.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 280px;
        bottom: 220px;
        right: 620px;
        width: 270px;
        height: 100px;
        display: flex;
        align-items: center;
        z-index: 10;

        &:hover {
            >.box-arrow {
                color: #cf5242;
                border: 2px solid #cf5242;
            }
        }
    }

    .image3 {
        position: absolute;
        background-image: url("../../../../../public/img/main-page/other/img2.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 280px;
        top: 200px;
        left: -35px;
        width: 270px;
        height: 102px;
        display: flex;
        align-items: center;
        z-index: 10;

        &:hover {
            >.box-arrow {
                color: #cf5242;
                border: 2px solid #cf5242;
            }
        }
    }

    &>.container {
        &>.boxContent {
            &>.boxText {
                width: 80%;

                &>.content {
                    width: 605px;

                    &>div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin: 35px 0;
                    }
                }
            }
        }
    }

    .boxText {
        &>.content {
            &>div {
                &>span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    p#text-sectionTwo {
        text-align: justify;
        line-height: 2;
        font-size: 17px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
    }

    #about {
        text-decoration: none;
        position: absolute;
        top: 35px;
        left: 140px;
        width: 121px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #fff;
        color: #000;
        border-radius: 30px;
        padding: 0 5px;
        box-shadow: -3px 3px 4px 0px rgba(209, 209, 209, 0.639);
        cursor: pointer;
        z-index: 10;
        transition: all 0.3s;

        &:hover {
            background: #cf5241;
            color: #fff;

            &>i {
                color: #fff;
                padding-right: 3px;
                margin-left: -3px;
            }
        }
    }

    #contactUs {
        text-decoration: none;
        position: absolute;
        bottom: 135px;
        left: 600px;
        width: 121px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #fff;
        color: #000;
        border-radius: 30px;
        padding: 0 10px;
        box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.169);
        cursor: pointer;
        z-index: 10;
        transition: all 0.3s;

        &:hover {
            background: #cf5241;
            color: #fff;

            &>i {
                color: #fff;
                padding-left: 3px;
                margin-right: -3px;
            }
        }
    }

    .boxContent {
        &>img#imgCover {
            position: absolute;
            left: -407px;
            top: 135px;
            width: 505px;
        }
    }
}

.boxText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 655px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>#titrHome {
        color: #283347;
        text-align: center;
        font-size: 29px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
    }

    &>#textHome {
        text-align: justify;
        padding: 0 5px;
        line-height: 1.5;
        margin: 15px 0 20px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
    }
}

#cabinets {
    width: 800px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>.icon-close {
        position: relative;
        top: 0;
        right: -15px;
        color: #cf5241;
        font-size: 25px;
    }

    &>p {
        font-size: 20px;
        font-weight: bold;
    }
}

#logo1,
#titrHome,
#textHome,
#boxCategories,
#allCategories {
    width: 98%;
    margin: 15px 0;
}

#logo1 {
    width: 160px;
    margin-bottom: 40px;
}

#boxCategories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;

    &::-webkit-scrollbar-track {
        padding: 2px 0;
        background-color: #f6f6f6;
    }

    &::-webkit-scrollbar {
        width: 1px;
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #c1c8d5;
    }
}

.categories {
    border: 2px solid #757a83;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;

    &.addCategories {
        border: 2px solid #cf5242;
        color: #cf5242;
    }

    &:hover {
        border: 2px solid #cf5242;
    }
}

#allCategories {
    display: flex;
    align-items: center;
    text-decoration: none;

    p {
        padding: 0 5px;
        cursor: pointer;
        transition: all 0.3s;
    }
}

.content>#textHome,
#boxCategories>.categories,
#allCategories>p,
i,
.categories>p {
    color: #757a83;
    transition: all 0.3s;
}

.categories:hover i,
.categories:hover p {
    color: #cf5242;
}

.icon-categories {
    font-weight: normal;
    font-size: 35px;
}

.icon-all {
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

#allCategories:hover>p,
#allCategories:hover>i {
    color: #cf5242;
}

#image1 {
    width: 370px;
    position: absolute;
    top: 0;
    left: 540px;
    z-index: -2;
}

.image2 {
    position: absolute;
    background-image: url("../../../../../public/img/main-page/other/img2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 280px;
    bottom: 140px;
    right: 550px;
    width: 270px;
    height: 100px;
    display: flex;
    align-items: center;

    &:hover {
        >.box-arrow {
            color: #cf5242;
            border: 2px solid #cf5242;
        }
    }
}

a {
    text-decoration: none;

    .box-arrow {
        border: 2px solid #757a83;
        border-radius: 50%;
        padding: 5px;
        font-weight: bold;
        margin: 0 15px 10px 12px;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 1;
        position: relative;

        &:hover {
            color: #cf5242;
            border: 2px solid #cf5242;
        }
    }
}


.text-arrow {
    &>h4 {
        margin: 0;
    }

    &>p {
        margin: 10px 0;
        font-size: 13px;
        line-height: 1.5;
        color: #757a83;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 201px;
        text-wrap: nowrap;
    }
}

.icon-Arrow-Down-2 {
    border: 2px solid #707070;
    border-radius: 50%;
    color: #707070;
    padding: 15px;
    font-size: 25px;
    position: absolute;
    top: 110px;
    right: 580px;
    cursor: pointer;
    transition: all 0.3s;
}

.icon-Arrow-Down-2:hover,
#section-pageTwo .icon-Arrow-Left-2:hover,
a>#arrowPage:hover {
    background: #707070;
    color: #fff;
}

#boxImageIcones {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 710px;
    justify-content: space-between;
    flex-direction: row-reverse;

    .boxImageIcone {
        border: 2px solid #3d3c45;
        padding: 15px;
        display: block;
        border-radius: 50%;
        font-weight: bold;
        color: #fff;
        background: #3d3c45;
        cursor: pointer;
        margin: 0 10px;
        transition: all 0.3s;

        &:hover {
            border: 2px solid #53535a;
            background: #53535a;
        }


    }

    .boxImageIcone.disabled {
        background-color: #ff0000;
        cursor: not-allowed;
    }

    .boxImageIcone.disabled:hover {
        background-color: #ff0000;
        /* هاور غیرفعال */
    }

}


/*----------------section pageOne------------------*/

.tapContent {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    z-index: 50;
    position: relative;
    z-index: 1;

    &>#boxTabContent {
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;

        &::-webkit-scrollbar-track {
            padding: 2px 0;
            background-color: #f6f6f6;
        }

        &::-webkit-scrollbar {
            width: 1px;
            height: 3px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #c1c8d5;
        }

        &>button {
            &:hover {
                background: #283347;
                color: #fff;
            }

            &.show {
                background: #283347;
                color: #fff;
            }
        }
    }
}

#section-pageOne .items-tabContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tapContent>#boxTabContent>button,
.seeAll>a {
    height: 55px;
    border: 1px solid #283347;
    color: #283347;
    background: transparent;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s;
    display: inline-block;
    width: 96%;
    min-width: 140px;
    max-width: 150px;
    margin: 0 2px;
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;
}

.seeAll {
    cursor: pointer;
    position: relative;
    z-index: 5;

    &>a {
        border: 1px solid #707070;
        color: #707070;
        transition: all 0.3s;

        &:hover {
            border: 1px solid #cf5242;
            color: #cf5242;

            i {
                color: #cf5242;
            }
        }

        &>i {
            vertical-align: middle;
            color: #707070;
            font-weight: bold;
        }
    }
}

#section-pageOne {
    .container::after {
        content: "";
        display: block;
        position: absolute;
        top: -75px;
        left: -430px;
        width: 970px;
        height: 900px;
        z-index: 0;
        border-radius: 20px 70px 0 0;
        background: rgb(237, 240, 245);
        background: linear-gradient(180deg, rgba(237, 240, 245, 1) 35%, rgba(248, 250, 253, 1) 100%);
    }


    .box-slider {
        right: -480px;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 80px 0;
        position: relative;
        z-index: 50;
        width: 1607px;
        scroll-behavior: smooth;
        overflow-x: scroll;
        padding-block: 10px;
        padding-left: 25px;
        padding-right: 16px;
        /* position: absolute; */
        /* white-space: normal;*/

        &.show {
            display: flex;
        }

        &>.slider {
            position: relative;
            left: -300px;
            flex-shrink: 0;
        }
    }

    #not-product {
        font-size: 20px;
        right: 0;
        top: 140px;
        width: 52%;
        overflow: hidden;

        &>.icon-close {
            position: relative;
            top: 0;
            right: -15px;
            color: #cf5241;
            font-size: 25px;
        }
    }
}

.box-slider {
    &.active {
        .slider {
            pointer-events: none;
        }
    }
}

// #farangi {
//     display: none;
// }

#irani {
    display: flex;
}

#cabinets {
    display: none;
}

/*----------------section pageThree-----------------*/

#section-pageThree {
    .box-slider {
        padding-right: 200px;
        left: -49px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0;
        position: relative;
        z-index: 50;
        width: 100%;
        margin-right: 145px;
        scroll-behavior: smooth;
        overflow-x: scroll;
        padding-block: 10px;
        padding-left: 25px;
        padding-right: 16px;
        /* position: absolute; */
        /* white-space: normal;*/

        &>.slider {
            position: relative;
            flex-shrink: 0;
        }
    }

    &>.container {
        &>img#imgCover2 {
            width: 900px;
            position: absolute;
            top: 60px;
            right: -350px;
        }
    }

    #iconSlider {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 440px;
        right: -10px;

        &>i {
            border: 2px solid #3d3c45;
            padding: 15px;
            font-size: 20px;
            display: block;
            border-radius: 50%;
            font-weight: bold;
            color: #fff;
            background: #3d3c45;
            cursor: pointer;
            margin: 0 10px;
            transition: all 0.3s;

            &:hover {
                border: 2px solid #53535a;
                background: #53535a;
                font-weight: bold;
            }
        }
    }
}

#section-pageOne .slider,
#section-pageThree .slider {
    background: #fff;
    border-radius: 15px;
    height: 494px;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 10px;
}

#section-pageOne .slider>img,
#section-pageThree .slider>img {
    margin: 7px;
}

#section-pageOne .box-slider>.slider,
#section-pageThree .box-slider>.slider {
    width: 100%;
    min-width: 290px;
    max-width: 290px;
    height: 413px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    cursor: grab;
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.169);
}

#section-pageOne .box-slider>.slider>img,
#section-pageThree .box-slider>.slider>img {
    width: 290px;
    height: 360px;
    position: relative;
    top: -25px;
    border-radius: 20px 20px 0 0;
}

#section-pageOne .box-slider>.slider>h3,
#section-pageThree .box-slider>.slider>h3 {
    color: #283347;
    margin: -18px 0 12px;
    padding-top: 5px;
    font-size: 16px;

}

.boxTwo {
    position: absolute;
    bottom: 300px;
    left: 0;
    width: 315px;
    text-align: justify;
    line-height: 1.8;
    font-size: 20px;
    color: #707070;
    z-index: 1;

    &>p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
    }

    &>.tabcontent {
        display: none;
        padding: 6px 12px;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }

    &>div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        &>i {
            border: 2px solid #3d3c45;
            padding: 15px;
            display: block;
            border-radius: 50%;
            font-weight: bold;
            color: #fff;
            background: #3d3c45;
            cursor: pointer;
            margin: 0 10px;
            transition: all 0.3s;

            &:hover {
                border: 2px solid #53535a;
                background: #53535a;
            }
        }
    }
}

.slider {
    transition: all 0.3s;

    &>.icon-slider {
        text-decoration: none;

        &>i {
            border-radius: 50px;
            padding: 15px;
            position: relative;
            top: 326px;
            left: -110px;
            width: 46px;
            background: rgba(0, 0, 0, 0.278);
            color: #fff;
            font-weight: normal;
            display: flex;
            cursor: pointer;
            vertical-align: middle;
            flex-direction: row-reverse;
            z-index: 10;
            transition: all 0.3s;

            &:hover {
                margin-left: 55px;
                width: 90px;
                position: relative;
                left: -110px;
                top: 326px;
                justify-content: space-around;
                align-items: center;
                background: #283347;
            }
        }
    }

    &:hover {
        .icon-slider {
            i {
                margin-left: 55px;
                width: 90px;
                position: relative;
                left: -110px;
                top: 326px;
                justify-content: space-around;
                align-items: center;
                background: #283347;

                &::after {
                    content: "مشاهده";
                    bottom: 0;
                    position: relative;
                    font-family: dana, sans-serif;
                    font-size: 13px;
                }
            }
        }
    }
}

.slick-prev {
    position: absolute;
    left: -312px;
    width: 50px;
    height: 50px;
    top: 365px;
    border-radius: 50px;
}

.nextArrow {
    position: absolute;
    right: -164px;
    width: 50px;
    height: 50px;
    top: 213px;
    border-radius: 50px;
    opacity: 0;
    cursor: pointer;
}

.prevArrow {
    position: absolute;
    right: -238px;
    width: 50px;
    height: 50px;
    top: 213px;
    border-radius: 50px;
    opacity: 0;
    cursor: pointer;
}

.image4 {
    position: absolute;
    background-image: url("../../../../../public/img/main-page/other/img2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    bottom: 115px;
    left: -35px;
    width: 300px;

    &>div#textsVoice {
        display: flex;
        align-items: center;
        position: absolute;
        right: 30px;
        top: 5px;
    }

    span#textAudio {
        font-size: 13px;
        color: #283347;
        right: 30px;
        top: 5px;
    }

    span#timeAudio {
        font-size: 11.5px;
        position: relative;
        color: #283347;
        left: -90px;
        top: 0;
    }

    &>.audio {
        width: 190px;
        margin-right: 27px;

        &>i#playBtn {
            color: #cf5241;
            position: absolute;
            left: 30px;
            top: 22px;
        }
    }
}

.icon-Play:before,
.icon-Pause:before {
    font-size: 50px;
    cursor: pointer;
}

img#logo2 {
    width: 30px;
    margin-left: 5px;
}

p#titrPage {
    font-size: 20px;
}

a {
    text-decoration: none;

    #arrowPage {
        border: 2px solid #707070;
        border-radius: 50%;
        color: #707070;
        padding: 15px;
        font-size: 22px;
        cursor: pointer;
        transition: all 0.3s;
        vertical-align: middle;
        color: #707070;
        font-weight: bold;
    }
}

#section-pageTwo #contactUs>i,
#section-pageTwo #about>i {
    font-weight: bold;
    font-size: 15px;
}

.iconHeart {
    border-radius: 50%;
    font-size: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    top: 35px;
    left: 675px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.169);
    transform: rotate(21deg);

    &>i {
        color: #cf5241;
    }
}

.iconHeart#heart2 {
    top: inherit;
    right: inherit;
    left: 120px;
    bottom: 230px;
    transform: rotate(345deg);
}

#topTitr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 5px 0;

    &>span {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.styleSlider2 {
    left: -270px;
}

/*----------------section pageFour-----------------*/

#boxWeblog {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    overflow-x: auto;
    // white-space: nowrap;
    padding-bottom: 10px;

    &::-webkit-scrollbar-track {
        padding: 2px 0;
        background-color: #f6f6f6;
    }

    &::-webkit-scrollbar {
        width: 1px;
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #c1c8d5;
    }
}

.weblog {
    position: relative;
    width: 465px;
    min-height: 430px;
    // margin: 0px 10px;
    padding: 0 5px;
    border-radius: 30px;
    background: #fff;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 8px 1px rgba(189, 189, 189, 0.051);

    &:hover {
        .textWeblog {
            h4 {
                span {
                    color: #cf5242;
                }
            }
        }
    }


    img {
        width: 435px;
        margin-top: 10px;
        border-radius: 20px 20px 0 0;
    }

    &>.textWeblog {
        padding: 0 10px 10px;

        &>h4 {
            color: #27246a;
            font-size: 17px;
            margin: 20px 0 10px;
            font-weight: normal;
            cursor: pointer;

            >span {
                text-decoration: none;
                transition: all 0.3s;
                color: #27246a;


                &:hover {
                    color: #cf5242;
                }
            }
        }

        &>p {
            text-align: justify;
            font-size: 14px;
            line-height: 1.7;
            color: #757a83;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 5;
            margin-bottom: 20px;
        }

        &>.linkWeblog {
            display: flex;
            align-items: center;

            &>span {
                text-decoration: none;
                border-radius: 10px;
                width: 58px;
                height: 27px;
                display: flex;
                color: #707070;
                background: #f2f2f2;
                justify-content: center;
                align-items: center;
                font-size: 12px;

                &:nth-child(2) {
                    margin-right: 5px;
                }
            }
        }
    }
}

/*---------------------------------------*/
#imageSlider2 {
    display: none;
    flex-shrink: 0;
    margin-top: 150px;

    .boxImage {
        width: 630px;
        height: 360px;
        object-fit: cover;
        border-radius: 17px;
        position: relative;
        right: 199px;
    }
}