@import "../../Public/index.scss";

/*-----------------section-blog--------------------*/
#section-blog {
    width: 100%;
    min-height: 100%;
    background: #f8fafd;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;

    h2 {
        color: #283347;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin: 180px 0 45px;
    }

    #boxWeblog {
        margin-top: 50px;
    }
}

/*-----------------boxWeblog----------------*/
#boxWeblog {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weblog {
    width: 465px;
    height: 575px;
    margin: 0px 10px;
    border-radius: 30px;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -3px 4px 10px 0px rgba(189, 189, 189, 0.25);

    img {
        width: 445px;
        margin-top: 10px;
        border-radius: 20px 20px 0 0;
    }

    &>.textWeblog {
        padding: 0 10px 10px;

        &>h5 {
            // color: #27246a;
            font-size: 17px;
            margin: 10px 0;
            font-weight: normal;
            cursor: pointer;

            a {
                text-decoration: none;
                transition: all 0.3s;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;

                &:link,
                &:visited {
                    color: #27246a
                }

                &:hover {
                    color: #cf5242;
                }
            }
        }

        &>p {
            text-align: justify;
            font-size: 14px;
            line-height: 1.5;
            color: #848484;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 5;
        }

        &>.linkWeblog {
            display: flex;
            align-items: center;

            &>a {
                text-decoration: none;
                border-radius: 10px;
                width: 58px;
                height: 27px;
                display: flex;
                color: #707070;
                background: #f2f2f2;
                justify-content: center;
                align-items: center;
                font-size: 12px;

                &:nth-child(2) {
                    margin-right: 5px;
                }
            }
        }
    }
}