@import '../../../base/setting.scss';

.payment_procedures {
    position: relative;

    .card {
        margin-block: 150px;

        .step_lists {
            align-items: center;
            display: flex;
            justify-content: space-around;
            margin-bottom: 95px;
            position: relative;
            width: 100%;

            &::after {
                background-color: #f7f7f7;
                bottom: 50%;
                content: "";
                height: 2px;
                position: absolute;
                right: 50%;
                transform: translate(50%, 50%);
                width: 85%;

                &:active {
                    background-color: $main;
                }
            }

            li {
                cursor: pointer;
                position: relative;
                text-align: center;
                width: 100%;
                color: $main;

                .icon {
                    display: block;
                    font-size: 20px;
                    margin-bottom: 25px;
                }

                &:first-child {

                    .icon,
                    .title {
                        color: $main;
                    }
                }

                .title {
                    font-size: 14px;
                }

                .dot {
                    background-color: $white;
                    border: 1px solid #a3a3a3;
                    border-radius: 50%;
                    bottom: 50%;
                    height: 13px;
                    position: absolute;
                    right: 50%;
                    transform: translate(50%, 50%);
                    width: 13px;
                    z-index: 1;

                    &::after {
                        background-color: $main;
                        border-radius: 50%;
                        bottom: 3px;
                        content: "";
                        height: 5px;
                        position: absolute;
                        right: 3px;
                        width: 5px;
                    }
                }
            }
        }

        .product_table {
            min-height: 300px;
            width: 83%;
            margin-inline: auto;

            .stepContent {
                &.active {
                    display: block;
                }

                .sec-head {
                    color: $main;
                    font-size: 18px;
                    padding-bottom: 10px;

                    .icon {
                        margin-left: 5px;
                    }
                }

                #box-tablebuy {
                    overflow-x: auto;
                    white-space: nowrap;

                    .TableOrder {
                        width: 100%;

                        thead {
                            tr {
                                th {
                                    border-bottom: 1px solid #eee;
                                    color: $main;
                                    font-size: 16px;
                                    padding-bottom: 15px;
                                    text-align: center;
                                    padding-left: 28px;

                                    h3 {
                                        font-size: 15px;
                                    }

                                    span {
                                        color: #757a83;
                                        font-size: 12px;

                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    border-bottom: 1px solid #efefef;
                                    padding: 15px 0;
                                    text-align: center;

                                    img {
                                        height: 100px;
                                        margin: 5px;
                                        -o-object-fit: cover;
                                        object-fit: cover;
                                        border-radius: 5px;
                                    }

                                    h4.name {
                                        margin-top: 5px;
                                    }

                                    #numberSpinner {
                                        background-color: #f5f7fa;
                                        border-radius: 30px;
                                        display: inline-block;
                                        padding: 3px;

                                        .icon {
                                            background-color: #fefeff;
                                            border: 1px solid #eaf1fb;
                                            border-radius: 50%;
                                            color: #abb5c6;
                                            cursor: pointer;
                                            display: inline-block;
                                            font-size: 24px;
                                            height: 30px;
                                            place-content: center;
                                            text-align: center;
                                            transition: $transition1;
                                            width: 30px;

                                            &::before {
                                                display: block;
                                                transform: translate(1px, 1px);
                                            }
                                        }

                                        input {
                                            background-color: unset;
                                            border: unset;
                                            font-size: 18px;
                                            text-align: center;
                                            width: 29px;
                                            color: $main;
                                        }
                                    }

                                    .delete {
                                        .icon {
                                            color: $main2;
                                            font-size: 23px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .payment_action {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    .link {
                        border-radius: 7px;
                        color: $white;
                        font-size: 15px;
                        padding: 13px 15px;

                        &.submit {
                            width: auto;
                            background-color: $main;
                            border: none;
                            border-radius: 10px;
                            color: $white;
                            cursor: pointer;
                            font-size: 16px;
                            padding: 16px 22px;
                            transition: $transition1;

                            &:hover {
                                background-color: $hover;
                            }
                        }

                        &.next_page {
                            background-color: #37a26e;
                            transition: $transition1;

                            &:hover {
                                background-color: rgb(74, 188, 133);
                            }
                        }
                    }

                    .total_cart {
                        font-size: 18px;

                        span {
                            color: $main2;
                            margin-right: 5px;
                        }
                    }

                }
            }


            .payment-list {
                .item {
                    background-color: #f8f8f8;
                    margin-top: 15px;
                    padding: 20px 15px;
                    border-radius: 10px;

                    .title {
                        color: $main;
                        font-size: 18px;
                        margin-bottom: 20px;

                        .icon {
                            font-size: 18px;
                            margin-left: 5px;
                        }
                    }

                    #filter-box {
                        .main_title {
                            color: $main;
                            font-size: 23px;
                            margin-bottom: 30px;
                            text-align: center;
                        }

                        .box {
                            .login {
                                color: #767676;
                                display: block;
                                font-size: 15px;
                                margin-bottom: 23px;

                                a {
                                    color: $main2;
                                }
                            }

                            .row {
                                overflow-x: hidden;

                                .col-md-4 {

                                    &:nth-child(7) {
                                        width: 100%;
                                    }

                                    .input_box {
                                        margin-bottom: 15px;
                                        position: relative;

                                        label {
                                            color: #505d67;
                                            display: block;
                                            font-size: 15px;

                                            margin-bottom: 13px;
                                            margin-right: 6px;

                                            .star {
                                                color: $main2;
                                                font-size: 16px;
                                            }
                                        }

                                        input,
                                        select,
                                        textarea {
                                            background-color: $white;
                                            border: 2px solid $white;
                                            border-radius: 12px;
                                            color: $main;
                                            font-size: 15px;
                                            padding: 15px 12px;
                                            transition: $transition1;
                                            width: 100%;
                                        }

                                        select {
                                            color: #9d9d9d;
                                            cursor: pointer;
                                        }

                                        textarea {
                                            height: 120px;
                                            resize: none;
                                        }

                                        .arrow {
                                            bottom: 15px;
                                            color: #a3a3a3;
                                            font-size: 20px;
                                            left: 15px;
                                            position: absolute;
                                        }
                                    }
                                }
                            }

                            .col-md-12 {
                                .input_box {
                                    margin-bottom: 15px;
                                    position: relative;

                                    label {
                                        color: #505d67;
                                        display: block;
                                        font-size: 15px;

                                        margin-bottom: 13px;
                                        margin-right: 6px;
                                    }

                                    textarea {
                                        height: 120px;
                                        resize: none;
                                        border: 2px solid $white;
                                        border-radius: 12px;
                                        color: $main;
                                        font-size: 15px;
                                        padding: 15px 12px;
                                        transition: $transition1;
                                        width: 100%;
                                    }

                                    .arrow {
                                        bottom: 19px;
                                    }
                                }
                            }

                            select {
                                color: #9d9d9d;
                                cursor: pointer;
                            }


                            .payment_action {
                                align-items: center;
                                display: flex;
                                justify-content: space-between;
                                margin-top: 20px;

                                .link {
                                    border-radius: 10px;
                                    color: $white;
                                    font-size: 15px;
                                    padding: 16px 22px;
                                    border: none;

                                    &.back {
                                        background-color: $main;
                                        transition: $transition1;

                                        &:hover {
                                            background-color: $hover;
                                        }
                                    }

                                    &.submit {
                                        width: auto;
                                    }

                                    &.next_page {
                                        background-color: #37a26e;
                                        transition: $transition1;
                                        cursor: pointer;

                                        &:hover {
                                            background-color: rgb(74, 188, 133);
                                        }
                                    }

                                    .icon {
                                        font-size: 15px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }

                .nahaii {
                    display: flex;

                    .col-md-4 {
                        width: 33%;

                        .cart-bill {
                            margin-top: 25px;
                            margin-bottom: 10px;
                            background-color: #f5f7fa;
                            border-radius: 10px;
                            padding: 10px;
                            position: sticky;
                            top: 175px;
                            transition: $transition1;

                            .box {
                                li {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 20px;

                                    span {
                                        color: #535e72;
                                        font-size: 14px;
                                    }

                                    &.line {
                                        border-bottom: 1px solid #e5e5e5;
                                        padding-bottom: 10px;

                                        span {
                                            font-size: 15px;
                                        }
                                    }

                                    &.discount {
                                        display: block;

                                        .top {
                                            display: flex;
                                            justify-content: space-between;
                                            margin-bottom: 15px;

                                            span {
                                                color: #535e72;
                                                font-size: 14px;

                                                &.distinct {
                                                    color: $main2;
                                                    font-size: 15px;
                                                }
                                            }
                                        }

                                        .input_box {
                                            margin-bottom: 0;

                                            form {
                                                position: relative;

                                                input {
                                                    background-color: $white;
                                                    border: 2px solid $white;
                                                    border-radius: 10px;
                                                    color: $main;
                                                    font-size: 15px;
                                                    padding: 15px 12px;
                                                    transition: $transition1;
                                                    width: 100%;
                                                }

                                                .link {
                                                    background-color: #37a26e;
                                                    border: unset;
                                                    border-radius: 10px;
                                                    color: $white;
                                                    cursor: pointer;
                                                    font-size: 16px;
                                                    left: 10px;
                                                    padding: 8px 15px;
                                                    position: absolute;
                                                    text-align: center;
                                                    top: 9px;
                                                    transition: $transition1;

                                                    &:hover {
                                                        background-color: rgb(70, 176, 125);
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.payment_methods {
                                        .method {
                                            input {
                                                display: none;
                                            }

                                            input:checked~label {
                                                background-color: #ccc;
                                            }

                                            label {
                                                border-radius: 10px;
                                                background-color: #e9e9e9;
                                                display: block;
                                                margin: 0 10px;
                                                padding: 5px 45px;
                                                cursor: pointer;

                                                .box {
                                                    img {
                                                        height: 3rem;
                                                        width: 3rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            form {
                                .submit {
                                    background-color: $main;
                                    margin-top: 20px;
                                    padding-block: 18px;
                                    width: 100%;
                                    transition: $transition1;
                                    border: 1px solid #e9eef6;
                                    border-radius: 10px;
                                    color: $white;
                                    cursor: pointer;
                                    font-size: 16px;
                                    padding: 18px 25px;

                                    &:hover {
                                        background-color: $main2;
                                    }
                                }
                            }
                        }
                    }

                    .col-md-8 {
                        padding: 10px;
                        width: 67%;

                        .item {
                            background-color: #f8f8f8;
                            margin-top: 15px;
                            padding: 20px 15px;
                            border-radius: 10px;

                            .title {
                                color: $main;
                                font-size: 18px;
                                margin-bottom: 20px;

                                .icon {
                                    font-size: 18px;
                                    margin-left: 5px;
                                }
                            }

                            .box {
                                align-items: center;
                                background-color: $white;
                                border: 1px solid #e8e8e8;
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 20px;
                                padding: 20px;
                                border-radius: 10px;
                                overflow-x: auto;
                                white-space: nowrap;
                                padding-bottom: 10px;

                                .text-center {
                                    text-align: center;
                                    width: 100%;

                                    thead {
                                        tr {
                                            th {
                                                border-bottom: 1px solid #eee;
                                                color: $main;
                                                font-size: 14px;
                                                padding-bottom: 15px;
                                                text-align: center;
                                                padding-left: 28px;

                                                span {
                                                    color: #757a83;
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }

                                    tbody {
                                        tr {
                                            td {
                                                border-bottom: 1px solid #efefef;
                                                justify-content: center;
                                                padding: 15px 0;
                                                text-align: center;
                                                color: $main;

                                                img {
                                                    height: 100px;
                                                    margin: 5px;
                                                    -o-object-fit: cover;
                                                    object-fit: cover;
                                                }

                                                h4.name {
                                                    margin-top: 5px;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    text-wrap: nowrap;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.review_info {
                                    ul {
                                        li {
                                            color: #6b6b6b;
                                            font-size: 15px;
                                            padding-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




/////////////////Responsive///////////////////

@media screen and (max-width: 1024px) {
    .payment_procedures {
        .card {
            .product_table {
                width: 87%;

                .payment-list {
                    .row {
                        .col-md-4 {
                            &:nth-child(10) {
                                width: 66.3%;
                            }

                            .cart-bill {
                                .box {
                                    li.discount {
                                        .input_box {
                                            form {
                                                input {
                                                    font-size: 14px;
                                                }

                                                .link {
                                                    font-size: 14px;
                                                    padding: 8px 16px;
                                                }
                                            }
                                        }
                                    }

                                    li.payment_methods {
                                        flex-direction: column;
                                        align-items: stretch;
                                        text-align: center;

                                        .method {
                                            &:nth-child(1) {
                                                margin-bottom: 11px !important;
                                            }

                                            label {
                                                padding-block: 8px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .payment_procedures {
        .card {

            .step_lists::after {
                width: 100%;
            }

            .product_table {
                width: 100%;

                .stepContent {
                    .payment_action {
                        z-index: 2;

                        .link.submit {
                            font-size: 13px;
                            padding: 14px 17px;
                        }
                    }
                }

                .payment-list {
                    .item {
                        #filter-box {
                            .box {
                                .payment_action {
                                    z-index: 1;

                                    .link {
                                        font-size: 13px;
                                        padding: 14px 17px;
                                    }
                                }
                            }
                        }
                    }

                    .row {
                        .col-md-4 {
                            .cart-bill {
                                .box {
                                    li {
                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                }

                                form {
                                    .submit {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }

                .payment_action {
                    position: fixed;
                    bottom: 70px;
                    right: 0;
                    background: #fff;
                    height: 70px;
                    width: 100%;
                    padding: 0 77px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .payment_procedures {
        .card {
            .product_table {
                .payment-list {
                    .row {
                        .col-md-4 {
                            width: 100%;

                            &:nth-child(10) {
                                width: 100%;
                            }
                        }

                        .col-md-8 {
                            width: 100%;
                        }
                    }

                    .nahaii {
                        flex-direction: column-reverse;
                    }

                    .item {
                        #filter-box {
                            .box {
                                .col-md-4 {
                                    .input_box {
                                        label {
                                            font-size: 13px;
                                        }

                                        input,
                                        select {
                                            font-size: 13px;
                                        }
                                    }
                                }

                                .col-md-12 {
                                    .input_box {
                                        textarea {
                                            font-size: 13px;
                                        }
                                    }
                                }

                                .login {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                .payment_action {
                    padding: 0 5px;
                }

                .stepContent {
                    .payment_action {
                        .link.submit {
                            font-size: 13px;
                            padding: 14px 7px;
                        }

                        .total_cart {
                            display: flex;
                            font-size: 16px;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-evenly;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    a#go-to-top:link,
    a#go-to-top:visited {
        bottom: 145px;
    }

    .center-circle {
        bottom: 205px;
    }
}


@media screen and (max-width: 375px) {
    .payment_procedures {
        .card {
            .product_table {
                .stepContent {
                    #box-tablebuy {
                        .TableOrder {
                            thead {
                                tr {
                                    th {
                                        padding-left: 20px;

                                        h3 {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            tbody {
                                tr {
                                    td {
                                        font-size: 14px;

                                        h4.name {
                                            font-size: 14px;
                                        }

                                        #numberSpinner {
                                            input {
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .payment-list {
                    .row {
                        .col-md-8 {
                            .item {
                                .box {
                                    .text-center {
                                        thead {
                                            tr {
                                                th {
                                                    font-size: 12px;
                                                    padding-left: 20px;
                                                }
                                            }
                                        }

                                        tbody {
                                            tr {
                                                td {
                                                    font-size: 14px;

                                                    h4.name {
                                                        font-size: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    ul {
                                        li {
                                            p {
                                                span {
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 320px) {
    .payment_procedures {
        .card {
            .product_table {
                .stepContent {
                    .payment_action {
                        .total_cart {
                            font-size: 14px;
                        }

                        .link.submit {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}