@import "../../Public/index.scss";

/*------------Relationship Paage-------------*/

#relationship-port {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f8fafd;
    transition: all 0.5s;
}

.icon-close {
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 33px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: #cf5241;
    }
}

h3 {
    &.title {
        margin-top: 180px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
}

h4 {
    &.sub-title {
        font-size: 18px;
        margin-top: 50px;
        font-weight: bold;
        color: #808080;
        text-align: center;
    }
}

#callBox {
    min-height: 100px;
    display: flex;
    column-gap: 15px;
    margin-bottom: 30px;

    &>.itemCall {
        &>.icon-Call {
            &>i {
                color: #283347;
                font-size: 60px;
                margin-top: 20px;
            }
        }
    }
}

.itemCall {
    min-height: 100px;
    text-align: center;
    flex: 1;

    &>.sar-titre {
        color: #283347;
        font-size: 20px;
    }

    &>p {
        color: #848484;
        line-height: 1;
    }
}

/*---------------Form Relationship---------------*/

#form-information {
    height: 220px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
    margin-bottom: 165px;
}

#right,
#left {
    flex-grow: 1;
}

.form-control {
    width: 100%;
    background-color: #f1f1f1;
    padding: 17px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: inherit;

    &::placeholder {
        color: #848484;
        font-size: 16px;
        font-family: dana, sans-serif;
    }

    &:focus {
        outline: 2px solid #3d3c45;
    }
}

#address {
    min-height: 200px;
    resize: none;
    position: absolute;
    bottom: -170px;
    right: 0;
    width: 100%;
}

#send {
    background: #283347;
    color: #fff;
    padding: 12px 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        background: #3d3c45;
    }
}

#icon-send {
    vertical-align: middle;
    font-size: 18px;
}