@import "../../../base/setting.scss";

.weblogs {
    .card {
        margin-block: 150px;

        .post {
            background-color: #f5f7fa;
            padding: 20px;
            border-radius: 10px;

            .head {

                .box-img {
                    width: 100%;
                    height: 550px;
                    object-fit: cover;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    overflow: hidden;

                    .image {
                        width: 100%;
                        height: 100%;
                    }
                }

                .grouping {
                    transition: all 0.3s;
                    color: $text;
                    padding: 3px 10px;
                    border-radius: 5px;
                    background-color: #ebebeb;
                    font-size: 10px;
                    margin-bottom: 10px;
                    display: inline-block;
                }

                .info {
                    margin-bottom: 35px;

                    .title {
                        color: $main;
                    }
                }

                .post-info {

                    .avatarBox {
                        width: 30px;
                        height: 30px;
                        vertical-align: middle;
                        border-radius: 50%;
                        display: inline-block;

                        .avatar {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .link {
                        color: $main2;
                        font-size: 13px;
                        margin-right: 5px;
                    }

                    span {
                        color: $text;
                        font-size: 13px;
                        position: relative;
                        margin-right: 10px;
                        padding-right: 10px;

                        &::before {
                            content: "";
                            width: 4px;
                            height: 4px;
                            background: $main2;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            margin-top: -2px;
                            display: block;
                            right: -2px;
                        }
                    }
                }



            }

            .content {
                margin-top: 20px;

                p {
                    line-height: 3.2;
                    font-size: 16px;
                    color: $text;
                    margin-bottom: 13px;
                    text-align: justify;

                    a {
                        color: $main2;
                    }
                }

                .justify-content-center {
                    display: flex;
                    align-items: center;

                    .col-md-4 {
                        width: 30%;
                        padding: 0;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin: 20px 10px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .comments {
            width: 100%;
            margin-top: 150px;
            position: relative;
            display: flex;
            justify-content: space-between;

            .sec_title {
                position: absolute;
                top: -60px;
                width: 100%;
                color: $main;
                text-align: center;

                .title {
                    font-size: 23px;
                }
            }

            .comment_form {
                width: 30%;
                height: 425px;
                position: sticky;
                top: 120px;
                background-color: #f5f7fa;
                padding: 15px;
                border-radius: 10px;

                .input_box {
                    margin-bottom: 15px;

                    input:focus-visible,
                    textarea:focus-visible {
                        border: 2px solid $main;
                    }

                    input,
                    select,
                    textarea {
                        width: 100%;
                        color: $main;
                        font-size: 15px;
                        border: 2px solid $white;
                        transition: all 0.3s;
                        padding: 15px 12px;
                        border-radius: 10px;
                    }

                    textarea {
                        resize: none;
                        height: 120px;
                    }

                    &.bottom {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $white;
                        border-radius: 10px;
                        width: max-content;
                        margin-inline: auto;
                        padding-right: 5px;

                        .code {
                            padding-left: 5px;
                            mix-blend-mode: multiply;
                            width: 60px;
                            border-left: 1px dashed $main;
                        }

                        input {
                            width: 150px;
                            padding-block: 13px;
                            font-size: 13px;
                            padding-inline: 0;
                            text-align: center;
                            margin-right: 2px;
                        }
                    }
                }

                .submit {
                    width: 100%;
                    padding-block: 19px;
                    cursor: pointer;
                    background-color: $main;
                    border: 0;
                    color: $white;
                    font-size: 16px;
                    border-radius: 10px;
                    transition: all 0.3s;

                    &:hover {
                        background-color: $hover2;
                    }
                }

            }

            .main_card {
                width: 70%;
                margin-right: 10px;

                .comment_item {
                    background-color: #f5f7fa;
                    border-radius: 10px;
                    padding: 20px;
                    margin-bottom: 30px;

                    .head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        .name {
                            display: flex;
                            align-items: center;
                            gap: 12px;


                            .box-userImage {
                                border-radius: 50%;
                                width: 40px;
                                height: 40px;

                                .user_image {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .title {
                                font-size: 18px;
                                color: $main;
                            }
                        }

                        .date {
                            font-size: 13px;
                            color: $text;
                        }
                    }

                    .main_desc {
                        font-size: 15px;
                        color: $text;
                        padding-inline: 15px;
                        line-height: 2.3;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                    }

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        gap: 13px;
                        margin-top: 12px;

                        li {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: $text;
                            transition: all 0.3s;
                            cursor: pointer;

                            &:hover {
                                color: $main2;
                            }

                            span.num {
                                font-size: 16px;
                            }

                            span.icon {
                                font-size: 20px;
                            }
                        }
                    }


                    &.reply {
                        margin-bottom: 0;
                        margin-right: 70px;
                    }
                }
            }
        }
    }
}





/////////////////Responsive///////////////////

@media screen and (max-width: 1024px) {
    .weblogs {
        .card {
            .post {
                .head {
                    .box-img {
                        height: 395px;
                    }
                }

                .content {
                    .justify-content-center {
                        .col-md-4 {
                            width: 47%;
                        }
                    }
                }
            }

            .comments {
                .comment_form {
                    width: 33%;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .weblogs {
        .card {
            .post {
                .head {
                    .box-img {
                        height: 355px;
                    }
                }
            }

            .comments {
                flex-direction: column-reverse;
                align-items: center;

                .main_card {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .weblogs {
        .card {
            .post {
                .head {
                    .box-img {
                        // height: 355px;
                    }
                }
            }

            .comments {
                .comment_form {
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .weblogs {
        .card {
            .post {
                .head {
                    .box-img {
                        height: 240px;
                    }

                    .info {
                        .title {
                            font-size: 22px;
                        }
                    }
                }

                .content {
                    p {
                        line-height: 2.5;
                        font-size: 15px;
                    }

                    .justify-content-center {
                        flex-direction: column;

                        .col-md-4 {
                            width: 100%;
                            height: 255px;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .weblogs {
        .card {
            .post {
                .head {
                    .box-img {
                        height: 200px;
                    }
                }

                .post-info {
                    span {
                        display: block;
                        margin: 13px 0;
                    }
                }
            }

            .comments {
                .main_card {
                    .comment_item {
                        .head {
                            .date {
                                font-size: 11px;
                            }

                            .name {
                                .title {
                                    font-size: 16px;
                                }
                            }
                        }

                        .main_desc {
                            font-size: 14px;
                        }
                    }

                    .comment_item.reply {
                        margin-right: 30px;
                    }
                }

                .comment_form {
                    .input_box {

                        input,
                        select,
                        textarea {
                            width: 100%;
                            color: #3d3c45;
                            font-size: 14px;
                        }
                    }

                    .submit {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .weblogs {
        .card {
            .post {
                .head {
                    .box-img {
                        height: 165px;
                    }

                    .info {
                        .title {
                            font-size: 18px;
                        }
                    }
                }

                .content {
                    .justify-content-center {
                        .col-md-4 {
                            height: 195px;
                        }
                    }
                }
            }

            .comments {
                .sec_title {
                    .title {
                        font-size: 20px;
                    }
                }

                .main_card {
                    .comment_item {
                        .head {
                            .date {
                                font-size: 10px;
                            }

                            .name {
                                .title {
                                    font-size: 14px;
                                }
                            }
                        }

                        .actions {
                            li {
                                span.num {
                                    font-size: 14px;
                                }

                                span.icon {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}