ul.breadcrumb {
  width: 59%;
  position: relative;
  top: 115px;
  right: 0;
  // z-index: 50;
  padding-right: 0;
  padding-left: 0;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;

  &::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #f6f6f6;
  }

  &::-webkit-scrollbar {
    width: 1px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c1c8d5;
  }

  li {
    display: inline;
    font-size: 16px;
    color: #cf5241;

    &+li:before {
      padding: 5px;
      color: black;
      content: "/\00a0";
    }

    a {
      color: #283347;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: #5a6d90;
      }
    }
  }
}

/*---------------Responsive--------------*/

@media screen and (max-width: 2560px) {
  ul.breadcrumb {
    right: 525px !important;
  }
}

@media screen and (max-width: 1920px) {
  ul.breadcrumb {
    right: 195px !important;
  }
}

@media screen and (max-width: 1440px) {
  ul.breadcrumb {
    right: 150px !important;
  }
}

@media screen and (max-width: 1024px) {
  ul.breadcrumb {
    right: 102px !important;
  }
}

@media screen and (max-width: 768px) {
  ul.breadcrumb {
    right: 80px !important;
    top: 90px !important;
  }

  // #section-blog {
  //   ul.breadcrumb {
  //     right: 57px !important;
  //     width: 85%;
  //   }
  // }
}

@media screen and (max-width: 425px) {
  ul.breadcrumb {
    right: 25px !important;
    top: 85px !important;
    width: 88% !important;
  }
}

@media screen and (max-width: 375px) {
  ul.breadcrumb {
    right: 7px !important;
  }

  #page-weblogs {
    ul.breadcrumb {
      right: 25px !important;
    }
  }

  #section-blog {
    ul.breadcrumb {
      right: 24px !important;
      width: 86% !important;
    }
  }
}

@media screen and (max-width: 320px) {
  ul.breadcrumb {
    right: 11px !important;
  }

  #page-weblogs {
    ul.breadcrumb {
      right: 13px !important;
    }
  }
}