ul.breadcrumb {
  width: 270px;
  position: absolute;
  top: 115px;
  right: 198px;
  z-index: 50;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;

  &::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #f6f6f6;
  }

  &::-webkit-scrollbar {
    width: 1px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c1c8d5;
  }

  li {
    display: inline;
    font-size: 16px;
    color: #cf5241;

    &+li:before {
      padding: 5px;
      color: black;
      content: "/\00a0";
    }

    a {
      color: #283347;
      text-decoration: none;

      &:hover {
        color: #01447e;
      }
    }
  }
}