/*-----------------Footer---------------*/
#footer {
    height: 450px;
    background: #fff;
    height: 395px;
    background: #fff;
    max-width: 1910px;
    // min-width: 1515px;
    margin: 0 auto;
    padding: 15px 20px;
    width: 100%;
}

#columns-box {
    min-height: 100px;
    display: flex;
    flex-direction: column;

    &>p {
        font-size: 14px;
        text-align: center;
        margin: 30px 0;
        color: #757a83;
    }
}

#columns {
    display: flex;
    margin: 15px 10%;
}

.column {
    min-height: 100px;
    flex: 1;

    &>a {
        text-decoration: none;

        img {
            width: 150px;
            margin: -15px 0;
        }
    }

    &>h5 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    &>.footer-list {
        display: flex;
        flex-direction: column;

        h6 {
            margin: 12px 0;

            &>a {
                font-size: 16px;
                text-decoration: none;
                color: #757a83;
                transition: all 0.3s;
    
                &:hover {
                    color: #cf5242;
                }
            }
        }

    }
}

#social-network {
    display: flex;
    justify-content: center;
    padding: 50px 0 30px;

    &>a {
        font-size: 28px;
        text-decoration: none;
        margin: 0 20px;

        &>i {
            transition: all 0.3s;
            color: #757a83;

            &:hover {
                color: #cf5242;
            }
        }
    }
}

/*-----------------------------------*/

.mobile_footer {
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-block: 13px;
    z-index: 60;
    display: none;
    box-shadow: 0 -4px 20px #00000026;

    .link {
        text-align: center;
        width: 130px;

        .icon {
            font-size: 25px;
        }

        .title {
            display: block;
            color: #757a83;
            font-size: 13px;
            margin-top: 3px;
        }
    }
}