.pagination-small {
    display: none;
}

.pagination {
    display: flex;
}

.pagination,
.pagination-small {
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 75px;

    li {
        &:not(:last-child) {
            margin-left: 2px;
        }

        &.active {
            .link {
                &:not(.arrow) {
                    background-color: #cf5241;
                    color: #fff;
                    border-radius: 10px;
                }
            }
        }

        .link {
            border-radius: 15px;
            width: 45px;
            height: 45px;
            padding: 3px 0px;
            color: #cf5241;
            font-size: 18px;
            display: block;
            text-align: center;
            transition: all 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-child) {
                margin-left: 17px;
            }

            &:not(.arrow) {
                &:hover {
                    background-color: #cf5241;
                    color: #fff;
                    border-radius: 10px;
                }
            }

            &.arrow {
                width: 106px;
                border-radius: 10px;
                color: #888888;
                justify-content: end;
                justify-content: center;
                display: flex;
                align-items: center;

                &:hover {
                    color: #cf5241;

                    .icon {
                        background-color: #cf5241;
                        color: #fff;
                    }
                }

                &.prev {
                    padding-left: 8px;

                    .icon {
                        margin-right: 12px;
                    }
                }

                &.next {
                    padding-right: 8px;

                    .icon {
                        margin-left: 12px;
                    }
                }

                .icon {
                    background-color: #ecf6ff;
                    color: #cf5241;
                    border-radius: 10px;
                    font-size: 18px;
                    display: inline-block;
                    transition: all 0.3s;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

/*-------------------Responsive---------------------*/

@media screen and (max-width: 768px) {

    .pagination,
    .pagination-small {
        margin: 60px 0 110px;
    }
}

@media screen and (max-width: 425px) {

    .pagination-small {
        display: flex;

        li:not(:last-child) {
            margin-left: 0;
        }

        li {
            .link.arrow {
                font-size: 15px;

                .icon {
                    width: 40px;
                    height: 40px;
                }
            }

            .link.arrow.next {
                padding-right: 0;

                .icon {
                    margin-left: 5px;
                }
            }

            .link.arrow.prev {
                padding-left: 0;

                .icon {
                    margin-right: 5px;
                }
            }

            .link {
                width: 40px;
                height: 40px;
                font-size: 15px;
            }
        }
    }

    .pagination {
        display: none;
    }
}

@media screen and (max-width: 320px) {

    .pagination-small {
        li {
            .link.arrow {
                width: 72px;
            }
        }
    }
}
